
<div class = "">
						<p class = "">We welcome comments, constructive criticisms, requests for collaboration, invitations to events, or just saying hi! A member of our team will try to respond within 48 hours. Note: If you're contacting Frida, she asks that you please run your message through a translator such as <a href = "https://kittify.herokuapp.com/" target = "_blank"> this one</a> prior to sending.</p>
		<form action="https://formspree.io/f/moqppqkn" method="POST">
							<div class="form-group">
								<label class="heading-font" for="name">Name</label>
								<input type="text" name="name" id="form-s-text" placeholder="Enter your name..." class="form-control">
							</div>
<br />

							<div class="form-group">
								<label class="heading-font" for="email">E-Mail</label>
								<input type="text" name="_replyto" id="form-s-text" placeholder="Enter your E-Mail address..." class="form-control">
							</div>

<br />
						<button class = "btn btn-dark btn-sm" type="submit">Subscribe</button>


						</form>
