<style>
	.blobicon {
		width: 30px!important;
		height: 30px!important;
		margin: 10px!important;
		border-radius: 100%!important;

		box-shadow: 5px 5px 4px #e1e1e1,
			-5px -5px 4px #ffffff !important;
	position: relative;
	}


  .blobicon {
    filter: none;
    -webkit-filter: grayscale(100%);
    -moz-filter:    grayscale(100%);
    -ms-filter:     grayscale(100%);
    -o-filter:      grayscale(100%);
    cursor: pointer;
    transition: all 300ms ease;
  }
.blobicon:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    -moz-filter:    grayscale(0%);
    -ms-filter:     grayscale(0%);
    -o-filter:      grayscale(0%);
  }





</style>


<div class="row">

	<div class="col">
			<p class="teamname">Ania</p>


<img type="button  icondiv blobicon" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" class = "blobicon" src = "{{site.baseurl}}/media/home/blob_derpy.png">

<div class="collapse" id="collapseExample">
<p>
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
</p>

</div>


</div>



	<div class="col">
			<p class="teamname">Sarah</p>

		<div class="icon icondiv"><img class="img-fluid blobicon"
				src="{{site.baseurl}}/media/home/blob-cool-sad.png">
		</div>
	</div>

	<div class="col">
			<p class="teamname">Leni</p>

		<div class="icon icondiv"><img class="img-fluid blobicon" src="{{site.baseurl}}/media/home/blob_angel.png">
		</div>
	</div>

	<div class="col">
			<p class="teamname">Jasmina</p>

		<div class="icon icondiv"><img class="img-fluid blobicon" src="{{site.baseurl}}/media/home/blob_aww.png">
		</div>
	</div>


	<div class="col">
			<p class="teamname">Frida</p>

		<div class="icon icondiv"><img class="img-fluid blobicon" src="{{site.baseurl}}/media/home/meow_meow.png">
		</div>
	</div>



</div>