<style>
	.blobicon {
		width: 30px!important;
		height: 30px!important;
		margin: 10px!important;
		border-radius: 100%!important;

		box-shadow: 5px 5px 4px #e1e1e1,
			-5px -5px 4px #ffffff !important;
	position: relative;
	}


  .blobicon {
    filter: none;
    -webkit-filter: grayscale(100%);
    -moz-filter:    grayscale(100%);
    -ms-filter:     grayscale(100%);
    -o-filter:      grayscale(100%);
    cursor: pointer;
    transition: all 300ms ease;
  }
.blobicon:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    -moz-filter:    grayscale(0%);
    -ms-filter:     grayscale(0%);
    -o-filter:      grayscale(0%);
  }





</style>

<nav>
  <div class="nav nav-tabs pt-3" id="nav-tab" role="tablist">
    <i class="nav-link active fas fa-newspaper" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="i" role="tab" aria-controls="nav-home" aria-selected="true"></i>
    <i class="nav-link fas fa-newspaper" id="nav-ania-tab" data-bs-toggle="tab" data-bs-target="#nav-ania" type="i" role="tab" aria-controls="nav-ania" aria-selected="false"></i>
    <i class="nav-link fas fa-newspaper" id="nav-sarah-tab" data-bs-toggle="tab" data-bs-target="#nav-sarah" type="i" role="tab" aria-controls="nav-sarah" aria-selected="false"></i>
    <i class="nav-link fas fa-newspaper" id="nav-leni-tab" data-bs-toggle="tab" data-bs-target="#nav-leni" type="i" role="tab" aria-controls="nav-leni" aria-selected="false"></i>
    <i class="nav-link fas fa-newspaper" id="nav-jasmina-tab" data-bs-toggle="tab" data-bs-target="#nav-jasmina" type="i" role="tab" aria-controls="nav-jasmina" aria-selected="false"></i>
    <i class="nav-link fas fa-newspaper" id="nav-frida-tab" data-bs-toggle="tab" data-bs-target="#nav-frida" type="i" role="tab" aria-controls="nav-frida" aria-selected="false"></i>


  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
<p>Click one of the tabs above to learn more about our team. </p>
</div>
  <div class="tab-pane fade" id="nav-ania" role="tabpanel" aria-labelledby="nav-ania-tab">
<h5>Ania Korsunska</h5>
<p>{{site.data.team['ania'].role}}</p>
<a href = "#">Profile →</a>
<h6>Recent posts</h6>
<ul class="list-group list-group-flush">
  <li class="list-group-item">An item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
</ul>

</div>

  <div class="tab-pane fade" id="nav-sarah" role="tabpanel" aria-labelledby="nav-sarah-tab">
<h5>Sarah Bolden</h5>
<p>{{site.data.team['sarah'].role}}</p>
<a href = "#">Profile →</a>
<h6>Recent posts</h6>
<ul class="list-group list-group-flush">
  <li class="list-group-item">An item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
</ul>

</div>
  <div class="tab-pane fade" id="nav-leni" role="tabpanel" aria-labelledby="nav-leni-tab">
<h5>Leni Krsova</h5>
<p>{{site.data.team['leni'].role}}</p>
<a href = "#">Profile →</a>
<h6>Recent posts</h6>
<ul class="list-group list-group-flush">
  <li class="list-group-item">An item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
</ul>

</div>
  <div class="tab-pane fade" id="nav-jasmina" role="tabpanel" aria-labelledby="nav-jasmina-tab">
<h5>Jasmina Tacheva</h5>
<p>{{site.data.team['jasmina'].role}}</p>
<a href = "#">Profile →</a>
<h6>Recent posts</h6>
<ul class="list-group list-group-flush">
  <li class="list-group-item">An item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
</ul>

</div>
  <div class="tab-pane fade" id="nav-frida" role="tabpanel" aria-labelledby="nav-frida-tab">
<h5>Frida Datacat</h5>
<p>{{site.data.team['frida'].role}}</p>
<a href = "#">Profile →</a>
<h6>Recent posts</h6>
<ul class="list-group list-group-flush">
  <li class="list-group-item">An item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
</ul>

</div>

</div>

