<div class="container pt-1 my-5">
	<section class="text-left">
		<div class="row">
			{% for row in site.data.data101.datajustice %} 
            {% if row.section == "outcomes" %}
                    <div class="col-md-4 mb-4">
                        <div class = "card bg-offwhite   pb-0 mb-0 h-100 " 
                        style = "border: 1px solid var(--muted)!important;">
                            <div 
                            class = "card-body rounded-lg bg-offwhite  pb-0 mb-0 px-3 h-100" >

                        <div class="media pb-0 mb-0">
                        <div class="mr-3">
                                <img  src =  "{{ site.baseurl }}/assets/icons/{{ row.image_path }}.svg"
                            alt = "{{ row.title }}"
                            style = "width: 45px!important; height: 45px!important;" />
                        </div>
                        <div class="media-body pb-0 mb-0">
                            <h6 class="font-weight-bolder mb-3">{{row.title}}</h6>
                                    <p class = "text-muted" style = "font-size: .86rem!important;">{{row.subtitle}}</p>
                        </div>
                        </div>
                            </div>
                        </div>
                    </div>
		{% endif %} 
        {% endfor %}
		</div>
	</section>
</div>



