---
layout: post
title: "Do you have to hate women to worship the rap god?"
subtitle: "Here's a subtitle, AKA a brief & catchy sentence or two that go below the title."
author: sarah
category: [media]
permalink: "/rapgod"
date: 3 February 2021
image_path: "https://images.unsplash.com/photo-1602578300917-d5213cf73fa2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1377&q=80"
image_alt: "Alt text for the image goes here."
icon_ref: fa-fire
---

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.5.0/d3.min.js" integrity="sha512-0XfwGD1nxplHpehcSVI7lY+m/5L37PNHDt+DOc7aLFckwPXjnjeA1oeNbru7YeI4VLs9i+ADnnHEhP69C9CqTA==" crossorigin="anonymous"></script>
<script src=" {{ site.baseurl }}/assets/js/chartjs/chart.min.js"></script>


<link
	rel="stylesheet"
	href="{{ site.baseurl }}/assets/css/projects/rapgod.css"
/>

	<div class="container " style="padding-top: 100px!important;" >
{% include projects/rapgod/intro.html %}
{% include projects/rapgod/section1.html %}
</div>

























