<div class="container  z-depth-0  mt-5  rounded  animated fadeIn align-self-center ">
	<div class="card-body  mt-5 mb-0 ">
		<div class="row ">
			<div class="container  mt-5 mb-0  z-depth-0">
				<h1 class="cubano mb-0 pb-0  text-center ">CONTACT US</h1>
				<div class="   mb-0 pb-0 flex-center ">
					<div>
						<p>We welcome comments, constructive criticisms, requests for collaboration, invitations to
							events, or just
							saying hi! Just click the button below to send us a message. A member of our team will try
							to respond within 48 hours. Note: If you're contacting Frida,
							she asks that you please run your message through a translator such as <a
								href="https://kittify.herokuapp.com/" target="_blank">this one</a> prior to sending.</p>

						<a class="typeform-share justify-content-center d-flex button btn btn-sm text-white font-weight-normal mt-3"
							href="https://form.typeform.com/to/qIuzZv4Q?typeform-medium=embed-snippet" data-mode="popup"
							style="text-decoration:none;background-color:#E86166;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:19px;line-height:47.5px;text-align:center;margin:0;height:47.5px;padding:0px 31px;border-radius:9px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;"
							data-size="70" data-hide-headers="true" data-submit-close-delay="1" target="_blank">Send us
							a message! </a>
					</div>
				</div>
			</div>
		</div>
	</div>
	