<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/pages/index.css" />
<style>
    .side.five,
    .side.four,
    .side.three,
    .side.two,
    .side.one {
        background-repeat: no-repeat !important;
        background-size: contain !important;
        background-position: center !important;
    }
.mission {

    transition: .3s linear !important;
}
    .cube .side.one {
        background-color: rgba(55, 47, 66, .9) !important;
    }

    .cube .side.two {
        background-color: rgba(55, 47, 66, .9) !important;
    }

    .cube .side.three {
        background-color: rgba(55, 47, 66, .9) !important;
    }

    .cube .side.four {
        background-color: rgba(55, 47, 66, .9) !important;
    }

    .cube .side.five {
        background-color: rgba(55, 47, 66, .9) !important;
    }

    .cube .side.six {
        background-color: rgba(55, 47, 66, .9) !important;
    }

    .side.one,
    .side.two {
        background-image: url("{{ site.baseurl }}/media/sitewide/logo.svg") !important;
    }

    .side.three {
        background-image: url("{{ site.baseurl }}/media/sitewide/svg/6_BIRD.svg") !important;
    }

    .side.four {
        background-image: url("{{ site.baseurl }}/media/sitewide/svg/4_SOCIAL MEDIA.svg") !important;
    }

    .side.five,
    .side.six {
        background-image: url("{{ site.baseurl }}/media/sitewide/svg/8_BLM_LAPTOP.svg") !important;
    }
</style>

<div >
<div class=" container p-5    z-depth-0" >
                <div>
                <h1 class=" cubano "> We envision data that's:</h1>
            </div>

    <div class="row   bg-white inset-md  rounded-lg px-5 ">

        <div class="pt-5 pb-5 col-12 col-md-6 z-depth-0  ">
            
            <ul class="list-unstyled row d-lg-inline-flex d-sm-block ">
                <li class="nav-item mr-1 ml-5  ">
                    <button onclick="rotate1(); show_mission();frida_confetti();"
                        class="frida_confetti btn btn-sm z-depth-0   px-1   ">
                        <img src="{{ site.baseurl }}/media/sitewide/logo.svg"
                            alt="Image of Frida Data Cat, our team mascot." class=""
                            style="height: 25px!important; width:25px!important; border:none!important; background-color: none!important;" />
                    </button>
                </li>
                <li class="nav-item mr-1 ">
                    <button onclick="rotate2(); show_ethical();"
                        class="btn btnethical btn-sm z-depth-0  px-1  cube_button ">
                        Ethical
                    </button>
                </li>
                <li class="nav-item mr-1 ">
                    <button onclick="rotate3(); show_engaging();"
                        class="btn btnengaging btn-sm z-depth-0  px-1  cube_button ">
                        Engaging
                    </button>
                </li>
                <li class="nav-item mr-1 ">
                    <button onclick="rotate4(); show_empowering();"
                        class="btn btnempowering btn-sm z-depth-0  px-1  cube_button ">
                        Empowering
                    </button>
                </li>
            </ul>
            <div class="row z-depth-0">
                <div class="containerz">
                    <div class="cube ">
                        <div class="side one" onclick="rotate1()"></div>
                        <div class="side two" onclick="rotate2()"></div>
                        <div class="side three" onclick="rotate3()"></div>
                        <div class="side four" onclick="rotate4()"></div>
                        <div class="side five" onclick="rotate5()"></div>
                        <div class="side six" onclick="rotate6()"></div>
                    </div>
                </div>
            </div>


        </div>

        <div class="pt-5 pb-5 col-12 col-md-4 z-depth-0  ">


            <div class="mission pt-5  mt-5 ">
                <p class="small text-muted mt-5 pt-5 " style="font-size: .8rem!important;">
                    Tap the cube or click a heading to learn what we're all about.
                    
                </p>

            </div>



            <div class="ethical">
                                <h2 class = "cubano pt-1">ethical.</h2>

                <p class="" style=" font-size: 1rem !important;">
                    {% for item in site.data.content_descriptions %}
                    {{item.ethical}} {%
                    endfor %}
                </p>
            </div>
            <div class="engaging">
                                <h2 class = "cubano pt-1">engaging.</h2>

                <p class="" style=" font-size: 1rem !important;">
                    {% for item in site.data.content_descriptions %}
                    {{item.engaging}}
                    {% endfor %}
                </p>
            </div>
            <div class="empowering">
                                <h2 class = "cubano pt-1">empowering.</h2>

                <p class="" style=" font-size: 1rem !important;">
                    {% for item in site.data.content_descriptions %}
                    {{item.empowering}}
                    {% endfor %}
            </div>

        </div>

    </div>
                    {% assign item = site.data.cube %} {% include viz/about_this_viz.html %}

</div>

<script src="{{ site.baseurl }}/assets/js/sitewide/cube.js"></script></div>