        <div class="card card-cascade bg-offwhite  p-2 m-2 m-lg-3">
         <a href = "{{site.baseurl}}{{project.permalink}}"> <div class="p-0 m-0" style = "height: 13rem!important;">
            <img 
            src="{{project.image_path}}"
            
            class=" p-0 m-0 card-img-top"
            alt="{{project.image_alt}}" 
            style = "height: 13rem!important;object-fit:cover!important; object-position: left!important;"/>
           
            </a>
          </div>

<!-- data-philter-duotone="#461a38 #d4dde7" -->

          <div class="card-body card-body-cascade text-left pb-0">

            		<div class = "d-inline-flex">

				<h6 class="font-weight-bolder">
					{% for cat in project.umbrella %} {% include icons/cats.html %} {%
					endfor %}
				</h6>
			<a href="{{project.url}}">
				<h4 class="font-weight-bolder pl-2">
				{{project.title}}
				</h4>
			</a>
          </div>

            <p class="card-text text-left">{{project.subtitle}}</p>

          </div>
        </div>