        <div class="card card-cascade   p-2 m-2 m-lg-3">
          <div class="view view-cascade  z-depth-1-half " style = "height: 13rem!important;">
            <img src="{{project.image_path}}" class="card-img-top"
              alt="{{project.image_alt}}" style = "height: 13rem!important;object-fit:cover!important; object-position: left!important;"/>
            <a href = "{{site.baseurl}}{{project.permalink}}">
              <div class="mask rgba-grey-slight"></div>
            </a>
          </div>
          <div class="card-body card-body-cascade text-center pb-0">

            		<div class = "d-inline-flex">

				<h6 class="font-weight-bolder">
					{% for cat in project.umbrella %} {% include icons/cats.html %} {%
					endfor %}
				</h6>
			<a href="{{project.url}}">
				<h4 class="font-weight-bolder pl-2">
				{{project.title}}
				</h4>
			</a>
          </div>

            <p class="card-text">{{project.subtitle}}</p>

          </div>
        </div>