---
layout: default
title: "About"
permalink: "about/"
---

<style>
  @media only screen and (max-width: 600px) {
    .float-font {
      font-size: 2.5rem !important;

    }
  }

  @media only screen and (min-width: 601px) {
    .float-font {
      font-size: 4rem !important;

    }
  }

  @media only screen and (min-width: 1250px) {
    .float-font {
      font-size: 6rem !important;

    }
  }
</style>


<style>
.brokennoise {

background-color: #e86166 !important;
background-image: url("https://www.transparenttextures.com/patterns/paper-3.png") !important;
}

</style>
<div class = "brokennoise" style = "padding-top: 150px!important; margin-top: -100px!important;padding-bottom: 40px!important;">
<div class = "container mb-5 pb-5 pt-2    card align-self-center z-depth-0">
<div class = "card-body  p-5 shadowinset bgoffwhite" style = "padding-top: 80px!important; ;padding-bottom: 80px!important;">
  <div class = "row">
<div class = "col-md-3 col-lg-4 col-xs-2 col-sm-2">

            <img type="button" class="" data-toggle="tooltip" data-placement="top" title="This is Frida Data Cat. She's as kickass as she is pointless, and we love her." src="{{site.baseurl}}/media/sitewide/logo.svg" class="img-fluid" alt="Sample project image"  style = "max-height: 300px;  width: auto; object-fit:contain;"  />

</div>

<div class = "col-md-9 col-lg-8 col-xs-10 col-sm-10">

      <h1 class="cubano mb-3    ">THE MISSION</h1>
      {{site.data.index.themission}}
	</p>
</div>
</div>
  </div>
</div>

</div>





<div class="pt-5 pb-5"></div>

<div class="container my-5 p-5 z-depth-0">


    <h1 class="cubano  mb-5 pt-5   ">We advocate for data that is:</h1>
    <div class="row">
      <div class="col-md-4 mb-4 align-self-center">
        <div class = "row align-self-center">
            <img src="{{site.baseurl}}/media/sitewide/svg/6_BIRD.svg" class="img-fluid" alt="Sample project image"  style = "height: 120px;  width: 100%; object-fit:contain;"  />
            <div class="mask rgba-white-slight" ></div>
        </div>

        <div class = "row p-4">
        <h2 class=" mb-3">ethical</h2>
        <p class="" style="  font-size: 1rem !important;">
          {{site.data.index.ethical}}</p>

        </div>
      </div>
      <div class="col-md-4 mb-4 align-self-center">
        <div class = "row  align-self-center">
            <img src="{{site.baseurl}}/media/sitewide/svg/4_SOCIAL MEDIA.svg" class="img-fluid"
              alt="Sample project image"  style = "height: 120px;  width: 100%; object-fit:contain;" />
        </div>

        <div class = "row p-4">
        <h2 class=" mb-3">engaging</h2>
        <p class="" style="  font-size: 1rem !important;">
          {{site.data.index.engaging}} </p>

        </div>
      </div>

      <div class="col-md-4 mb-4 align-self-center">
        <div class = "row  align-self-center">
            <img src="{{site.baseurl}}/media/sitewide/svg/8_BLM_LAPTOP.svg" class="img-fluid"
              alt="Sample project image"  style = "height: 120px; width: 100%; object-fit:contain;"  />

        </div>
        <div class = "row p-4">
                  <h2 class=" mb-3">empowering</h2>
        <p class="" style="  font-size: 1rem !important;">
          {{site.data.index.empowering}}</p>

        </div>


      </div>
    </div>
</div>

<div class="container     ">



  <div class="container py-5 ">
    <section class="p-md-3 mx-md-5">
      <div class="row mb-5  py-3 d-flex align-items-center">


        
        <div class="col-lg-6 col-md-6">
          <div class="card shadowdrop bgoffwhite ">
            <div class="card-body">
              <h2 class=" mb-3">Articles</h2>

              <p class="" style="  font-size: 1rem !important;">
            {{site.data.content-pages.articles}}
              </p>
              <button class="btn btn-sm"><a href="{{site.baseurl}}/articles">Read an article →</a></button>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 ">
          <div class="view overlay ">
            <img src="{{site.baseurl}}/media/sitewide/svg/6_BIRD.svg" class="img-fluid" alt="Sample project image" />
            <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
      </div>
      <div class="row  py-5 mt-2  mb-5 d-flex align-items-center justify-content-end">
        <div class="col-md-6 col-lg-4">
          <div class="view overlay ">
            <img src="{{site.baseurl}}/media/sitewide/svg/4_SOCIAL MEDIA.svg" class="img-fluid"
              alt="Sample project image" />
            <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="card shadowdrop bgoffwhite">
            <div class="card-body">
              <h2 class=" mb-3">Visual Stories</h2>

              <p class="" style="  font-size: 1rem !important;">

                            {{site.data.content-pages.visualstories}}
</p>
              <button class="btn btn-sm"><a href="{{site.baseurl}}/visual-stories">Find a visual story →</a></button>
            </div>
          </div>
        </div>
      </div>
      <div class="row py-5 mt-3 d-flex align-items-center">
        <div class="col-lg-6 col-md-6">
          <div class="card shadowdrop bgoffwhite">
            <div class="card-body">
              <h2 class=" mb-3">Data 101</h2>

              <p class="" style="  font-size: 1rem !important;">
                                          {{site.data.content-pages.data101}}
 </p>
              <button class="btn btn-sm"><a href="{{site.baseurl}}/data-101">Explore our Data 101 series →</a></button>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="view overlay ">
            <img src="{{site.baseurl}}/media/sitewide/svg/8_BLM_LAPTOP.svg" class="img-fluid"
              alt="Sample project image" />
            <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>



<div class="pt-5 pb-5"></div>

<div class="pt-5 pb-5"></div>

<div class="container  ">
  <h1 class="cubano mb-3    ">THE TEAM</h1>
  <p class=" ">Click or tap on a team member's card to see a preview of their profile. </p>

  <hr>
  <div class="   p-md-3  card-deck ">
    {% for auth in site.data.authordata %}
    {% include cards/card-team.html %}
    {% endfor %}
  </div>
</div>




<div class="pt-5 pb-5"></div>
<div class="pt-5 pb-5"></div>
<div class="pt-5 pb-5"></div>












<div class="container  ">
  <h1 class="cubano mb-3    ">CONTACT US</h1>


  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-md-12 mb-0 mb-md-0">
        <br>
        <p class=" ">
          We welcome comments, constructive criticisms, requests for collaboration, invitations to events, or just
          saying hi! A member of our team will try to respond within 48 hours. Note: If you're contacting Frida, she
          asks that you please run your message through
          a translator such as
          <a href="https://kittify.herokuapp.com/" target="_blank">this one</a> prior to sending.
        </p>

        <br>
        <br>

        <div class="container">
          <div class="d-flex justify-content-center">
            <div>
              <a href="https://twitter.com/freethedata_" target="_blank" title="twitter" class="">
                <span uk-icon="twitter"></span>
              </a>
            </div>

            <div>
              <a href="https://instagram.com/freethedataproject" target="_blank" title="instagram" class="">
                <span uk-icon="instagram"></span>
              </a>
            </div>

            <div>
              <a href="https://github.com/freethedataproject" target="_blank" title="github" class="">
                <span uk-icon="github"></span>
              </a>
            </div>

            <div>
              <a href="mailto:freethedataproject@gmail.com" target="_blank" title="email" class="">
                <span uk-icon="mail"></span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-7 col-md-12 mb-4 mb-md-0">
        <form action="https://formspree.io/f/moqppqkn" method="POST">
          <div class="row">

            <div class="col-md-6">
              <div class="md-form md-outline mb-0">
                <input type="text" id="form-s-text" class="form-control">
                <label for="form-last-name">Name</label>
              </div>
            </div>

            <div class="col-md-6">
              <div class="md-form md-outline mb-0">
                <input type="email" id="form-email" class="form-control">
                <label for="email">E-mail</label>
              </div>
            </div>
          </div>


          <div class="md-form md-outline">
            <input type="text" id="form-subject" class="form-control">
            <label for="subject">Subject</label>
          </div>

          <div class="md-form md-outline mb-3">
            <textarea id="form-message" class="md-textarea form-control" rows="3"></textarea>
            <label for="message">Message</label>
          </div>

          <button type="submit" class="btn btn-sm ml-0">Submit<i class="far fa-paper-plane ml-2"></i></button>
        </form>
      </div>
    </div>

  </div>

</div>