---
title: "Categories"
layout: default
permalink: "/categories.html"
---

{% for category in site.categories %} 


<div class="container">
        <h1 class="font-weight-bold spanborder text-capitalize mb-3" id="{{ category[0] | downcase }}"><span>{{ category[0] }}</span></h1>

    <div class="row d-flex flex-wrap">
            
            
        {% assign pages_list = category[1] %}
        {% for post in pages_list %}
        {% if post.title != null %}
          {% if group == null or group == post.group %}
            {% include cards/card-default.html %}
          {% endif %}
        {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}


        
        
    </div>
</div>
<div class = "pt-5 pb-5 "></div>

        {% endfor %}
