---
layout: default
title: "Explore"
permalink: "explore/"
---

<style>

  .thestruggle {
    background-color: #f8f9fb !important;
  }

    .hiddenhistories {
    background-color: #f8f9fb !important;
  }

    .data101 {
    background-color: #f8f9fb !important;
  }

    .kitchensink {
    background-color: #f8f9fb !important;
  }

  .hero  {

    background-color: #f8f9fb!important;
background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png")!important;
  }

 .navbar, footer {

    background-color: #f8f9fb!important;
  }

 .navbar, footer,  .navbar a, footer a  {

   color: var(--tq-dark) !important;

  }


  


</style>

<div class="hero view inset-lg" style="">
		<div class="container  card  mb-5  z-depth-0">
    <div class="card-body row flex-center text-center ">

			<div class="col-8  p-5 flex-center">
				<div class="row pr-5 flex-center">
      <h1 class="cubano mb-3 text-center">Explore</h1>

					<p>
						{% for item in site.data.content_descriptions %}
        {% for item in site.data.content_descriptions %} {{item.explore}} {%
        endfor %}
						{% endfor %}

					</p>
                <span>
        <a href="#tags" class="nostyle">
          <button type="button" class="btn btn-drop btn-sm">filters</button>
        </a>
        <a href="#collections " class="nostyle">
          <button type="button" class="btn btn-drop btn-sm">collections</button>
        </a>
      </span>

				</div>
		</div>
</div>

    </div>
  </div>

<div class="container my-5 py-5">
  <div class="container ">
    <a class="nostyle" id="tags">
      <h1 class=" d-flex cubano">Topic Filters</h1>
    </a>

    <hr />
    {% include topic.html %}
  </div>
</div>

<div class="container my-5 py-5 mb-5 pb-5">
  <a class="nostyle" id="collections">
    <h1 class=" cubano d-flex">Collections</h1>
  </a>

  <hr />


  <div class="row ">
    <div class=" col-md-3 col-xl-4 col-xs-12 col-sm-12  p-5 ">
      <div class="container   ">
        <h2 class="mb-3">#TheStruggle</h2>
        <p class="mb-5">
          {% for item in site.data.content_descriptions %} {{item.thestruggle}}
          {% endfor %}
        </p>
      </div>
    </div>
    <div class=" col-md-9 col-xl-8  col-xs-12 col-sm-12 p-5 ">
      <div class="row ">
        {% for post in site.tags.thestruggle %}
        {% include cards/card-collection.html %}
        {% endfor %}
      </div>
    </div>
    
  </div>    


  <br />
 
  <div class="row    ">
    
    <div class=" col-md-3 col-xl-4 col-xs-12 col-sm-12  p-5 ">
      <div class="container   ">
        <h2 class="mb-3">Hidden Histories</h2>
        <p class="mb-5">
          {% for item in site.data.content_descriptions %} {{item.hiddenhistories}}
          {% endfor %}
        </p>
      </div>
    </div>

        <div class=" col-md-9 col-xl-8  col-xs-12 col-sm-12 p-5 ">
      <div class="row ">
        {% for post in site.tags.hiddenhistories %}
        {% include cards/card-collection.html %}
        {% endfor %}
      </div>
    </div>
  </div>


  <br />
 
  
  <div class="row  ">
    <div class=" col-md-3 col-xl-4 col-xs-12 col-sm-12  p-5 ">
      <div class="container   ">
        <h2 class="mb-3">Data 101</h2>
        <p class="mb-5">
          {% for item in site.data.content_descriptions %} {{item.data101}}
          {% endfor %}
        </p>
      </div>
    </div>
    <div class=" col-md-9 col-xl-8  col-xs-12 col-sm-12 p-5 ">
      <div class="row ">
        {% for post in site.tags.data101 %}
        {% include cards/card-collection.html %}
        {% endfor %}
      </div>
    </div>
  </div>


  <br />
 
  
  <div class="row  ">
    
    <div class=" col-md-3 col-xl-4 col-xs-12 col-sm-12   p-5 ">
      <div class="container   ">
        <h2 class="mb-3">Kitchen Sink</h2>
        <p class="mb-5">
          {% for item in site.data.content_descriptions %} {{item.kitchensink}}
          {% endfor %}
        </p>
      </div>
    </div>

        <div class=" col-md-9 col-xl-8  col-xs-12 col-sm-12 p-5 ">
      <div class="row ">
        {% for post in site.tags.kitchensink %}
        {% include cards/card-collection.html %}
        {% endfor %}
      </div>
    </div>
  </div> 






    </div>


