---
layout: post
title: "Do you have to hate women to worship the rap god?"
subtitle: "This project strips away the distractions — the sardonic wordplay, the sharp beats, the power of voice and cadence — and re-contextualizes Eminem's lyrics as a time capsule of popular misogyny and toxic masculinity."
author: "sarah"
category: [fckit]
permalink: "projects/fckit/rapgod"
image_path: "https://images.unsplash.com/photo-1493225457124-a3eb161ffa5f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
image_alt: "Stock close-up image of a singer at a concert, holding a microphone, with blurred sparks and smoke in the background."
---

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.5.0/d3.min.js" integrity="sha512-0XfwGD1nxplHpehcSVI7lY+m/5L37PNHDt+DOc7aLFckwPXjnjeA1oeNbru7YeI4VLs9i+ADnnHEhP69C9CqTA==" crossorigin="anonymous"></script>
<script src=" {{ site.baseurl }}/assets/js/chartjs/chart.min.js"></script>


<link
	rel="stylesheet"
	href="{{ site.baseurl }}/assets/css/projects/rapgod.css"
/>

	<div class="container " style="padding-top: 100px!important;" >
{% include projects/rapgod/intro.html %}
{% include projects/rapgod/section1.html %}


# Introduction
























