title: Free the Data Project
email: freethedataproject@gmail.com
description: 'A project.'
logo: 'assets/images/logo.svg'
favicon: 'assets/images/logo.svg'
baseurl: ""

include: ["_content"]
permalink: /:title/

# Build settings
theme: minima
plugins:
  - jekyll-feed


# Exclude from processing.

# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

exclude: [README.markdown, package.json, grunt.js, Gruntfile.js, Gruntfile.coffee, node_modules]