---
layout: default
title: "about"
permalink: "about/"
---


<div class="view animated fadeIn">
	<img class="img-fluid" src="{{site.baseurl}}/media/sitewide/hero.svg"
		style=" width:100%; height: 90vh; object-fit: cover; margin-top: 45px!important; object-fit: cover!important;">
	<div class="mask  d-none d-lg-inline-flex  container flex-center">
		<div class="row ">
			<div class="col-6 ">
			</div>
			<div class="col-6 ">
				<div class="row ">
					<h1 class="cubano mb-3 text-frida">Free the Data</h1>
				</div>
				<div class="row pr-5">
					<p>
						Free the Data wants to smash the black boxes that make data inaccessible. We create articles,
						visual essays,
						and infographics that use data in compelling, interactive, and visual ways, while breaking
						stereotypes about
						who can do data analysis and what proper research topics look like.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="pt-5 pb-5"></div>
<div class="pt-5 pb-5"></div>

<div>
	{% include pages/landing/cube.html %}
</div>

<div class="pt-5 pb-5"></div>
<div class="pt-5 pb-5"></div>

{% include pages/landing/our_content.html %}

<div class="pt-5 pb-5"></div>
<div class="pt-5 pb-5"></div>

{% include pages/landing/team.html %}

<div class="pt-5 pb-5"></div>

{% include pages/landing/contact.html %}

<div class="pt-5 pb-5"></div>
<div class="pt-5 pb-5"></div>
<div class="pt-5 pb-5"></div>
<div class="pt-5 pb-5"></div>

<script src=" {{ site.baseurl }}/assets/js/sitewide/cube.js"></script>