---
layout: default
title: "Home"
---

<style>

@media only screen and (max-width: 600px) {
.float-font {
font-size: 2.5rem!important;

}
}

@media only screen and (min-width: 601px) {
.float-font {
font-size: 4rem!important;

}
}
@media only screen and (min-width: 1250px) {
.float-font {
font-size: 6rem!important;

}
}


</style>










<div class = "rela">

<div class="view " style=" margin-top: -100px!important; ">
  <img class="img-fluid" src="{{site.baseurl}}/media/sitewide/hero.svg"
    style=" width:100%; max-height: 100vh; object-fit: cover;">

    <div class = "mask  d-none d-lg-inline-flex  container flex-center">
        <div class = "row ">

          <div class = "col-6 ">

          </div>


          <div class = "col-6 ">
            <div class = "row ">
                            <h1 class = "cubano mb-3" style = " color: #003e3f !important;" >Free the Data</h1>            
     </div>
            <div class = "row pr-5">

                  <p>      {{site.data.index.themission}}
</p>
<button class = "btn btn-sm mt-4" ><a href = "{{site.baseurl}}/about">Learn more about the project →</a></button>
     </div>


          </div>

        </div>


    </div>

</div>  
</div>

<div class = "pt-5 pb-5"></div>


<section>

<div class = "covers">
<div class="container pb-5 mb-5">
	<h2 class="cubano  d-flex">Featured</h2>

	<hr>
	<br>

	<div class="container">
		{% for post in site.tags.featured %}
			{% include cards/featured-card.html %}
		{% endfor %}
	</div>
</div>
</section>

<section>

<div class="container my-5 py-5">
	<div class="container">
		<h2 class="cubano d-flex">By Topic</h2>

		<hr>
		{% include topic.html %}
	</div>
</div>
</section>

<section>

<div class="container py-5 my-5">
	<h2 class="cubano d-flex">Data 101</h2>

	<p>
		Breaking the black box, one post at a time.
	</p>

	<hr>
	<br>

	<div class="d-flex flex-wrap">
		{% for post in site.tags.data101 %}

		<div class="col-md-6 col-sm-12 col-xs-12 p-3  {{ post.category }}">
			{% include cards/card-small.html %}
		</div>

		{% endfor %}
	</div>
</div>
</section>

<div class="pt-5 pb-5"></div>


</div>