---
layout: default
title: "Projects"
permalink: "projects/"
---

<div class=" view " style="">
	<div class="container  card  z-depth-0">
		<div class="card-body row flex-center text-center ">
			<div class="col-8  p-5 flex-center">
				<div class="row pr-5 flex-center">
					<h1 class="cubano mb-3 text-center" style = "font-size: 5rem!important;">Projects</h1>

					<p>
						{% for item in site.data.content_descriptions %} {% for item in
						site.data.content_descriptions %} {{item.explore}} {% endfor %} {%
						endfor %}
					</p>
				
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container my-5 py-5">
	<div class="container ">
		<a class="nostyle" id="tags">
			<h1 class=" d-flex cubano">Topic Filters</h1>
		</a>

		<hr />
		{% include pages/topic.html %}
	</div>
</div>

<div class="container my-5 py-5 mb-5 pb-5">
	<a class="nostyle" id="collections">
		<h1 class=" cubano d-flex">Collections</h1>
	</a>

	<hr />
        <div class="row my-5 row-cols-1 row-cols-md-2 row-cols-md-2 ">
		{% for project in site.data.project_landing_page %}
			{% include cards/card-project.html %}
		{% endfor %}
	</div>
</div>
