<div class = "col-10 mx-auto single_section p-5" style = "background-image: url({{row.single_image_path}})!important; background-size: cover !important;">

            <div class = "row single_cover">
                    <p class = "text-muted">{{row.single_date}}</p>
                    <h1 class = "timeline_heading">
                        {{row.single_title}}
                    </h1>
                    <p class = "timeline_desc">
                        {{row.single_desc}}
                    </p>
            </div>

</div>
