---
layout: project
title: "Hidden Histories"
permalink: "/projects/hidden-histories"
category: [project]
author: frida
umbrella: "Projects"
image_path: "/media/projects/hiddenhistories.png"
subtitle: "Using infographic timelines, we review the stories that are told with data and about data. Along the way, we try to uncover and make visible the stories aren't being told."
---

<section>
  <div class="container z-depth-0 my-5 p-5">
        
      {% for post in site.categories.hidden-histories %}
<div class = "border_container">
    <div class="row  border-top border-light  border_hover justify-content-center">
          {% include_relative /cards/history-card.html %}
    </div>
</div>
      {% endfor %}
  </div>
</section>

