---
layout: project
title: "Hidden Histories"
permalink: "/projects/hiddenhistories"
category: [project]
author: frida
umbrella: "Projects"
image_path: "/media/projects/hiddenhistories.png"
subtitle: "Here, we use infographic timelines to explore the stories that are(n't) told with data and about data."
---

<section>
  <div class="container z-depth-0 my-5 p-5">
    <div class="row d-flex justify-content-center">
      {% for post in site.categories.hiddenhistories %}
          {% include cards/card-no_image.html %}
      {% endfor %}
    </div>
  </div>
</section>

