---
layout: project
title: Projects
umbrella: "index"
permalink: projects/
subtitle: Articles, visualizations, guides, resources — Free the Data offers a little bit of everything. Below, you can use filters to find what you're looking for, or you can dive into one of our curated collections.
project_landing_page: no
---

<script
	src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"
></script>

<div class="container mb-5 ">
		<section class="row text-center mt-5">

	{% for project in site.projects %} {% if project.umbrella == "Projects" %}
	<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-4">
		{% include_relative /cards/project-card.html %}
	</div>
	{% endif %} {% endfor %}
	</section>
</div>
