---
layout: project
title: "The Struggle"
permalink: "/projects/the-struggle"
image_path: "https://images.unsplash.com/photo-1494067329533-4385a4867cd4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80"
image_alt: "Photograph of a red brick wall."
author: frida
umbrella: "Projects"
category: [project]
subtitle: "If you love the possibilities that data has to offer, but feel restricted by the oppression and gatekeeping that surrounds it, you're not alone. In #TheStruggle, we reflect on the kinds of challenges, frustrations, and aspirations that we developed Free the Data to tackle."
---

<div class="container mb-5">
		{% for post in site.categories.the-struggle %}
          {% include_relative /cards/struggle-card.html %}
        {% endfor %}
</div>

