<div class="single-news">
	<div class="row mb-1">
		<div class="col-md-3 ">
			<div class="view z-depth-0 mb-3">
				<img
					src="{{post.image_path}}"
					class="img-fluid rounded-0"
					alt="{{post.image_alt}}"
				/>
			<a href = "{{post.url}}">	<div class="mask rgba-grey-slight waves-effect waves-light"></div></a>
			</div>
		</div>
		<div class="col-md-9 mb-0 pb-0">
			<a href="{{post.url}}">
				<h6 class="font-weight-bolder">
				

				{% for cat in post.category %} {% include icons/cats.html %} {%
					endfor %}
					{{post.title}} 
				</h6>
			</a>

			<p class="small text-muted">

								<a  href="{{site.baseurl}}/authors/{{post.author}}">
					{{post.author | capitalize}}
				</a>
 &nbsp;~&nbsp; {{post.date | date: "%d %b %y"}}
			</p>
		</div>
	</div>
</div>
