<div class="single-news">
	<div class="row mb-1">
		<div class="col-md-3 ">
			<div class="view z-depth-0 mb-3">
				<img
					src="{{post.image_path}}"
					class="img-fluid rounded-0"
					alt="{{post.image_alt}}"
				/>
			<a href = "{{site.baseurl}}{{post.permalink}}">	<div class="mask rgba-stylish-light waves-effect waves-light"></div></a>
			</div>
		</div>
		<div class="col-md-9 mb-0 pb-0">
			<a href="{{site.baseurl}}{{post.permalink}}">
				<h6 class="font-weight-bolder">
					<i
						type="button"
						class="fas {{post.icon_ref}} mt-1"
						data-toggle="tooltip"
						data-placement="top"
						title="{{post.category}}"
					></i>
					{{post.title}} 
				</h6>
			</a>

			<p class="small text-muted">

								<a  href="{{site.baseurl}}/authors/{{post.author}}">
					{{post.author | capitalize}}
				</a>
 &nbsp;~&nbsp; {{post.date | date: "%d %b %y"}}
			</p>
		</div>
	</div>
</div>
