  <li class="media my-3">
    <img class="d-flex mr-3" style = "height: 64px; width: 64px; object-fit: cover !important;" src="{{post.image_path}}" alt="{{post.image_alt}}">
    <div class="media-body">
      <h4 class="m-0  "><a href = "{{post.permalink}}">{{post.title}}</a></h4>
      <p class = "card-text m-0 p-0 small   ">{{post.subtitle}}</p>

			<p class="small text-muted">

								<a  href="{{site.baseurl}}/authors/{{post.author}}">
					{{post.author | capitalize}}
				</a>
 &nbsp;~&nbsp; {{post.date | date: "%d %b %y"}}
			</p>

    </div>
  </li>
