<div class="col mb-4 item all {{ post.category }} item-content ">
	<div class="card p-0 bg-white  bgwhite drop-md  h-100  mb-2    ">
		<div
			class="view "
			style="height: 9rem!important; object-fit: cover!important; object-position: center !important;"
		>
			<div class=" ">
				<img
					style="height: 9rem!important; object-fit: cover!important; object-position: center !important;"
					class="card-img-top "
					src="{{post.image_path}}"
					alt="{{post.image_alt}}"
				/>
			</div>

			<a href="{{post.url}}">
				<div class="mask rgba-white-light align-self-center"></div>
			</a>
		</div>

		<div class="card-body pb-0" style="background-color: #fff!important;">
		<div class = "d-inline-flex">

			<a href="{{site.baseurl}}{{cat}}">
				<h4 class="font-weight-bolder">
					{% for cat in post.category %} {% include icons/cats.html %} {%
					endfor %}
				</h4>
			</a>
			<a href="{{post.url}}">
				<h4 class="font-weight-bolder">
				{{post.title}}
				</h4>
			</a>
</div>

			<p class="m-0 mt-0 pt-0 pb-3 mb-5 small">{{post.subtitle}}</p>
			<p class="small text-muted">
				<a href="{{site.baseurl}}/authors/{{post.author}}">
					{{post.author | capitalize}}
				</a>
				&nbsp;~&nbsp; {{post.date | date: "%d %b %y"}}
			</p>
		</div>
	</div>
</div>
