<div class="d-flex row   rounded-lg ftd-card card-small shadowdrop h-100 m-3">
  <div class="col-md-2  view  h-100">

    <div class="mask rgba-stylish-strong  ">
      <div class=" flex-center  bg-dark p-2 "><span class="posticon rounded-circle" > <i class="fas {{post.icon_ref}} fa-lg " style = ""></i></span></div>
    </div>
  </div>

  <div class="col-md-10 my-0 align-self-center  card z-depth-0">
    <div class = "card-body">
    <h6 class="mb-4"><a class="  " href="{{site.baseurl}}{{post.permalink}}" target="_blank">{{post.title}}</a>
      <h6>

        <p class=" small">{{post.subtitle}}</p>

        <span class="small">
          <a href="{{site.baseurl}}{{post.permalink}}" class=""><a href="{{site.baseurl}}/authors/{{post.author}}">{{post.author}}</a></a> &nbsp;
          | &nbsp;
          {% for cat in post.category %}
          <a class="     " href="{{site.baseurl}}/{{cat}}">{{cat}}</a></span>
        {% endfor %}
        </span>
  </div>
</div>

</div>
