<div class="col mb-4 mt-4  px-5">
	<div class="card p-0    h-100  mb-2 z-depth-0  rounded-lg ">
		<div class="view overlay rounded-lg flex-center z-depth-1-half	 " style="height: 12rem!important; ">
			<img
				class=" card-img-top rounded " src="{{ site.baseurl }}/media/projects/{{ project.image_path }}"
				alt="" style = "width: 100%!important; object-fit: cover !important;" />

			<a href="{{ site.baseurl }}{{ project.base_url }}">
							<div class="mask rgba-stylish-light flex-center   ">

	</div>

				</div>
			</a>


					<div class=" mt-0 	 card-body    rounded   rounded-lg " style = "">
							<a class="" href="{{site.baseurl}}{{ project.base_url }}">
							<a href = "{{site.baseurl}}{{ project.base_url }}">	<h2 class="  cubano  ">
{{ project.title }}	</h2></a>

									
							
							</a>


							<p class="m-0 mt-0 pt-0 small">{{ project.description }}</p>

					</div>

		</div>
</div>