<div class="card view animated overlay" style="max-width:300px!important;">
	<h4 class="text-center accentfont mt-2">
		{{auth.firstname}}
	</h4>
	<div class="card-body  p-0 m-0 mb-0 pb-0  ">
		<img
			src="{{site.baseurl}}/media/team/{{auth.headshot_path}}"
			class="card-img-top"
			style="max-width:300px!important;"
		/>
	</div>

	<div
		class=" mask flex-center rgba-stylish-strong  p-0 m-0 mb-0 pb-0 "
		type="button"
		data-toggle="modal"
		data-target="#modal-target{{auth.firstname}}idk"
	>
		<h2 class="cubano text-center text-white p-2 ">
			open profile
			<i class="fas fa-angle-right"></i>
		</h2>
	</div>
</div>

<div
	class="modal fade"
	id="modal-target{{auth.firstname}}idk"
	tabindex="-1"
	role="dialog"
	aria-labelledby="modal-target{{auth.firstname}}idkTitle"
	aria-hidden="true"
>
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="cubano modal-title" id="exampleModalLongTitle">
					{{auth.fullname}}
				</h1>
				<button
					type="button"
					class="close btn btn-sm btn-modal align-self-center"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">Close</span>
				</button>
			</div>

			<div class="modal-body pt-3">
				<h6 class="biogtext biog1" id="">{{auth.role}}</h6>
				<h6 class="biogtext biog2" id="">
					{{auth.focus}}

					<br />
					<br />
				</h6>
				<img
					class="photo{{auth.firstname}} modal-img"
					src="{{site.baseurl}}/media/team/{{auth.image_path}}"
				/>
				<div class="biog">
					<p class="modal-biog small">{{auth.bio}}</p>
					<br />
					<hr />
				</div>

				<div class="small-news modal-recent pt-5">
					<h5 class="cubano">
						Recent posts by {{auth.firstname}}
					</h5>

					<div class="row mt-3">
						{% assign posts = site.posts | where:"author",{{auth.namedowncase}}
						%}
						<ul class="list-unstyled">
							{% for post in posts %} {% include cards/card-recent-posts.html %}
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<div class="d-flex flex-row">
					<a
						class="nav-link card-nav-link"
						href="{{auth.website}}"
						target="blank_"
					>
						<i class="fas fa-link"></i>
					</a>

					<a
						class="nav-link card-nav-link"
						href="{{auth.email}}"
						target="blank_"
					>
						<i class="fas fa-envelope"></i>
					</a>

					<a
						class="nav-link card-nav-link"
						href="{{auth.twitter}}"
						target="blank_"
					>
						<i class="fab fa-twitter"></i>
					</a>
				</div>

				<button
					type="button"
					class="close btn btn-sm btn-modal"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">Close</span>
				</button>
			</div>
		</div>
	</div>
</div>
