<div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-3 h-100 -0 mt-0 card z-depth-0">
  <div class="view z-depth-0 card-img-top h-100 pt-0 mt-0">
    <img src="{{post.image_path}}" class="" alt="{{post.image_alt}}"
      style="height: 130px!important; width: 100%!important; object-position: center!important; object-fit: cover!important;" />
    <a href="{{site.baseurl}}{{post.permalink}}">
      <div class="mask pattern-4">

      </div>
    </a>
  </div>
  <a class=" my-4 text-uppercase text-center font-weight-bold" href="{{site.baseurl}}{{post.permalink}}">
    <p class="font-weight-bold text-uppercase text-center hoverfrida arrow  ">{{post.title}}&nbsp;</p>
  </a>

</div>