<div class="col mb-4 item all {{ post.category }} item-content ">
	<div
		class="card p-0 bg-white  bgwhite drop-md  h-100  mb-2   rounded-lg " style = "background-color: #fff!important; border:none!important;"
	>
		<div
			class="view rounded-lg"
			style="height: 9rem!important; object-fit: cover!important; object-position: center !important;"
		>
			<div class=" rounded-lg">
				<img
					style="height: 9rem!important; object-fit: cover!important; object-position: center !important;"
					class="card-img-top "
					src="{{post.image_path}}"
					alt="{{post.image_alt}}"
				/>
			</div>

			<a href="{{site.baseurl}}{{post.permalink}}">
				<div
					class="mask rounded-lg rgba-grey-light  align-self-center   "
				></div>
			</a>
		</div>

		<div class="card-body bg-white bgwhite pb-0  rounded-lg" style = "background-color: #fff!important;">
			<a class="" href="{{site.baseurl}}{{post.permalink}}">
				<h4 class="  font-weight-bolder  ">
					{{post.title}}&nbsp;
				</h4>
			</a>

			<p class="m-0 mt-0 pt-0 pb-3 mb-5 small">{{post.subtitle}}</p>
  {% include cards/card-footer.html %}
			</div>
		</div>
	</div>
</div>
