
      <div class="col-md-6 col-lg-5  col-xl-4 border_container">
          <div class = "border-top border-light  border_hover pt-4">
</div>

        <a class="" href="{{site.baseurl}}{{post.permalink}}">

       				<h3 class="font-weight-bolder   mb-4" style = "font-size:1.4rem!important;">
					<i
						type="button"
						class="fas {{post.icon_ref}} mt-1"
						data-toggle="tooltip"
						data-placement="top"
						title="{{post.category}}"
					></i>
					{{post.title}} →
				</h3></a>

        <p class=" mb-5 pb-2">{{post.subtitle}}</p>
      </div>