

<div class="container z-depth-0 py-5 my-5 ">
  <section class="mx-md-5 text-center text-lg-left">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        <div class="row p-5">
          <div class="col-lg-8 d-flex flex-column justify-content-between">
            <p class="text-muted mb-4">{{post.excerpt}}</p>
            <div>
              <p class="font-weight-bold lead mb-2"><strong>{{post.title}}</strong></p>
              <p class="font-weight-bold text-muted">{{post.excerpt}}</p>
            </div>
          </div>
          <div class="col-lg-4 d-flex mb-2 align-items-center">
              <div class="avatar mx-4 w-100 h-100 white d-flex justify-content-center align-items-center">
                <img src="{{post.image_path}}" class="rounded-circle img-fluid z-depth-1" alt="{{post.image_alt}}">
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
</div>
