<div class="view card-jumbo rounded-lg card h-50  drop-lg " style = "max-height: 460px;">

  <div class="view zoom" >
    <img class="img-fluid" src="{{post.image_path}}"
      alt="{{post.image_alt}}" style = "object-fit: cover!important;">
    <a href="#!">
      <div class="mask rgba-stylish-strong flex-left p-5">
  </div>

    <div class="mask  flex-center ">
      <div class = "m-5 p-4 rounded-lg card-featured ">
        <a href="{{site.baseurl}}{{post.category}}" data-toggle="tooltip" title="{{post.category}} "><i  style = " color: #003e3f!important; font-size: 30px;" class = "posticon fas {{post.icon_ref}} mb-3 "></i> </a>
      <h1 class=" font-normal"><a href="{{site.baseurl}}{{post.permalink}}" target="_blank">{{post.title}}</a></h1>
      <p class=" small mb-2">{{post.subtitle}}</p>
      <hr>

  {% include cards/card-footer.html %}
    </div></div>
</div>
  </a>
</div>
