			<div class="uk-navbar-left">
				<ul class="uk-navbar-nav ">
					<li >
						<a href="https://twitter.com/freethedata_" target="blank_"><i class="fab fa-twitter"></i></a>
					</li>
					<li>
						<a href="https://instagram.com/freethedataproject" target="blank_"><i
								class="fab fa-instagram"></i></a>
					</li>
					<li>
						<a href="https://github.com/freethedataproject" target="blank_"><i
								class="fab fa-github"></i></a>
					</li>
					<li>
						<a href="mailto:freethedataproject@gmail.com" target="blank_"><i class="fas fa-at"></i></a>
					</li>
					<li>
						<a> <img role="button" class="frida" id="demo" onclick="myFunction()"
								src="{{site.baseurl}}/media/sitewide/logo.svg" />
						</a>
				</ul>
			</div>
