<footer class="page-footer font-small texturebg pb-4 pt-2 z-depth-0">
  <div class="container ">
    <div class="row">
      <div class="col-md-4 align-self-center justify-content-center">
              <p class = "mr-2"> <a class="cubano  navbar-brand  " style="letter-spacing:0.5px!important;font-size: 1.3rem!important;"
          href="https://freethedataproject.com/">Free the Data</a></p>
      </div>
      <div class="col-md-4 align-self-center justify-content-center ">
        <ul class="list-unstyled d-flex justify-content-center mb-0 mt-2">
       

    		<li class="nav-item  d-none d-md-flex">
      			<a class="nav-link basicsans" href="/{{site.baseurl}}/explore">Explore</a>
    		</li>

        <li class = "nav-item">
<a class="typeform-share nav-link" href="https://form.typeform.com/to/qIuzZv4Q?typeform-medium=embed-snippet" data-mode="popup" data-size="100" target="_blank"><i class="fas fa-comment-dots nav_color"></i> </a>

        </li>

          <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/freethedata_" target="blank_">
              <i class="fab fa-twitter"></i>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="https://instagram.com/freethedataproject" target="blank_">
              <i class="fab fa-instagram"></i>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="https://github.com/freethedataproject" target="blank_">
              <i class="fab fa-github"></i>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link"> <img role="button" class="frida" id="demo1" onclick="myFunction1()"
                style="width:27px; margin-top: -5px; height:auto;" src="{{site.baseurl}}/media/sitewide/logo.svg" />
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 pt-4 d-flex align-self-center justify-content-center ">
        <div class="footer-copyright text-right bg-transparent  ">
          <p class="nav-link "> © 2021.</p>
        </div>
      </div>
    </div>

  </div>
</footer>