<footer class="page-footer font-small brokennoise pb-4 pt-2 z-depth-0">
  <div class="container ">
    <div class="row">
      <div class="col-md-4 align-self-center justify-content-center">
        <a class="navbar-brand cubano textoffwhite p-0 " style="letter-spacing:0.5px!important;"
          href="https://freethedataproject.com/">Free the Data</a>
      </div>
      <div class="col-md-4 align-self-center justify-content-center ">
        <ul class="list-unstyled d-flex justify-content-center mb-0 mt-2">
          <li class="nav-item">
            <a class="nav-link basicsans" href="/about">About</a>
          </li>

          <li class="nav-item dropup">
            <a class="nav-link basicsans dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Projects</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="nav-link basicsans dropdown-item" href="{{site.baseurl}}/articles">Articles</a>
              <a class="nav-link basicsans dropdown-item" href="{{site.baseurl}}/visual-stories">Visual Stories</a>
              <a class="nav-link basicsans dropdown-item" href="{{site.baseurl}}/data101">Data 101</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/freethedata_" target="blank_">
              <i class="fab fa-twitter nav_color"></i>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="https://instagram.com/freethedataproject" target="blank_">
              <i class="fab fa-instagram nav_color"></i>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="https://github.com/freethedataproject" target="blank_">
              <i class="fab fa-github nav_color"></i>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="mailto:freethedataproject@gmail.com" target="blank_">
              <i class="far fa-envelope nav_color"></i>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link"> <img role="button" class="frida" id="demo1" onclick="myFunction1()"
                style="width:27px; margin-top: -5px; height:auto;" src="{{site.baseurl}}/media/sitewide/logo.svg" />
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 pt-4 d-flex align-self-center justify-content-center ">
        <div class="footer-copyright text-right bg-transparent  ">
          <p class="nav-link "> © 2021.</p>
        </div>
      </div>
    </div>

  </div>
</footer>