	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<meta content="ie=edge" http-equiv="X-UA-Compatible">
	<title>{{ title }} | {{ site.title }}</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<link href="{{ '/media/sitewide/logo.svg' | url }}" rel="shortcut icon" type="image/svg+xml">
	<link rel="stylesheet" href="{{ '/assets/css/uikit.min.css' | url }}" />
	<link rel="stylesheet" href="{{ '/assets/css/global.css' | url }}" />

