	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<meta content="ie=edge" http-equiv="X-UA-Compatible">
	<title>{{ page.title }} | {{ site.name }}</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<link href="{{site.baseurl}}/media/sitewide/logo.svg" rel="shortcut icon" type="image/svg+xml">
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/uikit.min.css" />
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/global.css"> 

