    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>


<div class="filter filter-basic mt-5">
    <div class="filter-nav">
        <button class="btn btn-sm  active history-button" data-filter="all">All</button>
        {% for item in   site.data.hiddenhistories  %}
        <button class="btn btn-sm   history-button" data-filter="{{ item.which_history }}">{{ item.which_history }}</button>
        {%endfor%}
    </div>

<div class="container z-depth-0 my-5 py-5 px-4 px-lg-0">
        <ol class="timeline filter-gallery">
							{% for item in site.data.hiddenhistories %}
{% include projects/timeline_element.html %}
							{% endfor %}
        </ol>
</div>


</div>

<script>

    $(document).ready(function () {
        // clicking button with class "category-button"
        $(".history-button").click(function () {
            // get the data-filter value of the button
            var filterValue = $(this).attr('data-filter');

            // show all items
            if (filterValue == "all") {
                $(".all").show("slow");
            }
            else {
                // hide all items
                $(".all").not('.' + filterValue).hide("slow");
                // and then, show only items with selected data-filter value
                $(".all").filter('.' + filterValue).show("slow");
            }
        });

    });
</script>
