<nav class="navbar brokennoise fixed-top navbar-expand-lg  p-0 d-block z-depth-0 "">

  <div class="container">

    <!-- Collapse button -->

      <!-- Links -->
      <ul class="navbar-nav mr-auto  font-weight-normal  navbar-expand-sm">
        <li class="nav-item">
        <a class="navbar-brand cubano textoffwhite p-0 " style="letter-spacing:0.5px!important;"
          href="https://freethedataproject.com/">Free the Data</a>
    		</li>

    		<li class="nav-item  d-none d-md-flex">
      			<a class="nav-link basicsans" href="/about">About</a>
    		</li>


           <li class="nav-item dropdown">
        <a class="nav-link basicsans dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Projects</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
    			<a class="nav-link basicsans dropdown-item" href="{{site.baseurl}}/articles">Articles</a>
              <a class="nav-link basicsans dropdown-item" href="{{site.baseurl}}/visual-stories">Visual Stories</a>
    			<a class="nav-link basicsans dropdown-item" href="{{site.baseurl}}/data101">Data 101</a>
          <a class="nav-link basicsans d-lg-none d-md-none d-xl-none dropdown-item" href="{{site.baseurl}}/About">About Free the Data</a>
        </div>
      </li>

      </ul>

      <ul class="navbar-nav ml-auto nav-flex-icons d-none d-lg-flex">
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/freethedata_" target="blank_">
            <i class="fab fa-twitter nav_color"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="https://instagram.com/freethedataproject"
            target="blank_">
            <i class="fab fa-instagram nav_color"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="https://github.com/freethedataproject"
            target="blank_">
            <i class="fab fa-github nav_color"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="mailto:freethedataproject@gmail.com"
            target="blank_">
            <i class="far fa-envelope nav_color"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"> <img role="button" class="frida" id="demo" onclick="myFunction()" style = "width:27px; margin-top: -5px; height:auto;" src="{{site.baseurl}}/media/sitewide/logo.svg" />
          </a>
        </li>      </ul>

    </div>
    <!-- Collapsible content -->

  </div>


</nav>
<!--/.Navbar-->
