


<nav class="navbar  navbar-light text-center my-0 p-0 d-block mt-0 footerbg" >

	<div class="navbar-expand-md   container" >

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

		<div class="collapse navbar-collapse mb-1" id="basicExampleNav">

			<ul class="navbar-nav mr-auto mt-1  font-weight-normal">
				<li class="nav-item dropdown">
					<a
						class="nav-link notdrop dropdown-toggle "
						id="navbarDropdownMenuLink"
						data-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"
					>
						About
					</a>
					<div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item " href="/mission">Mission</a>
						<a class="dropdown-item " href="/team">Team</a>
						<a class="dropdown-item " href="/contact">Contact</a>
					</div>
				</li>

								<li class="nav-item dropdown">
					<a
						class="nav-link notdrop dropdown-toggle "
						id="navbarDropdownMenuLink"
						data-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"
					>
						Explore
					</a>
					<div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item " href="/projects">Projects</a>
						<a class="dropdown-item " href="/resources">Resources</a>
						<a class="dropdown-item " href="/data101">Data 101</a>
					</div>
				</li>


			</ul>
			<!-- Links -->
<ul class = "navbar-nav mx-auto">
						<a
						class="cubano nav-item  mb-1 text-center navbar-brand  "
						style="letter-spacing:0.5px!important;font-size: 1.3rem!important;"
						href="/index.html"
					>
						<span class = "freethedata">Free the Data</span>
					</a>



</ul>
			<ul class="navbar-nav mx-auto  nav-flex-icons">
				<li class="nav-item">
					<a
						class="notdrop nav-link "
						href="https://twitter.com/freethedata_"
						target="blank_"
					>
						<i class="fab fa-twitter"></i>
					</a>
				</li>
				<li class="nav-item">
					<a
						class="notdrop nav-link "
						href="https://github.com/freethedataproject"
						target="blank_"
					>
						<i class="fab fa-github"></i>
					</a>
				</li>
				<li class="nav-item">
					<a
						class="typeform-share  notdrop nav-link "
						href="https://form.typeform.com/to/qIuzZv4Q?typeform-medium=embed-snippet"
						data-mode="popup"
						data-size="100"
						target="_blank"
					>
						<i class="fas fa-comment-dots"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="notdrop nav-link ">
						<img
							role="button"
							class="frida"
							id="demo"
							onclick="myFunction()"
							style="width:27px; margin-top: -5px; height:auto;"
							src="{{site.baseurl}}/assets/brand/frida.svg"
						/>
					</a>
				</li>
			</ul>
		</div>
		
	</div>
	
</nav>
<div style = "padding-bottom: 50px!important;"></div>