

	<div class=”main-container”>
		<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">

			<nav class="uk-navbar-container " uk-navbar>
				<div class="uk-navbar-left">
					<ul class="uk-navbar-nav">
						<li><a class="uk-navbar-item uk-logo navitem" href="/"><img class="" src = "{{ '/media/sitewide/logo.svg' | url }}" style = "height:20px; width:auto;"/> </a>
						</li>
						<li class=""><a class="navitem" href="{{ '/' | url }}">Home</a></li>
						<li class=""><a class="navitem" href="{{ '/about' | url }}">About</a></li>

						<li class=""><a class="navitem" href="{{ '/team' | url }}">Team</a></li>

						<li class=""><a class="navitem" href="{{ '/explore' | url }}">Explore</a></li>
						<li class=""><a class="navitem" href="{{ '/contact' | url }}">Contact</a></li>

					</ul>
				</div>
				<div class="uk-navbar-right">
					<ul class="uk-navbar-nav ">
						<li class="">
							<a class="navitem" href="https://twitter.com/freethedata_" target="blank_"><i
									class="fab fa-twitter"></i></a>
						</li>
						<li>
							<a class="navitem" href="https://instagram.com/freethedataproject"
								target="blank_"><i class="fab fa-instagram"></i></a>
						</li>
						<li>
							<a class="navitem" href="https://github.com/freethedataproject"
								target="blank_"><i class="fab fa-github"></i></a>
						</li>
						<li>
							<a class="navitem" href="mailto:freethedataproject@gmail.com"
								target="blank_"><i class="fas fa-at"></i></a>
						</li>
						<li>
							<a class="navitem"> <img role="button" class="frida" id="demo1"
									onclick="myFunction1()"
									src="{{ '/media/sitewide/logo.svg' | url }}" />
							</a>
					</ul>
				</div>
		</div>
		</nav>
	</div>

	</div>

