  <script type="text/javascript" src="{{ site.baseurl }}/assets/mdb/js/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{{ site.baseurl }}/assets/mdb/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{ site.baseurl }}/assets/mdb/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{{ site.baseurl }}/assets/mdb/js/mdb.min.js"></script>

	<script src=" {{ site.baseurl }}/assets/js/other/sticky.js"></script>
	<script src=" {{ site.baseurl }}/assets/js/confetti/confetti.min.js"></script>


