<div class=" sticky-top  pt-5 ">
    <h4 class=" pt-5"><span class = "cubano">#TheStruggle</span></h4>
    <hr>
    <ul class="list-unstyled">
        {% for post in site.tags.bitesized %}
            <li class="mb-4 ">
            <span>
                <h6 class="font-weight-bold">
                    <a href="{{site.baseurl}}{{ post.url }}" class="text-dark">{{ post.title }}</a>
                </h6>
                <span class="d-block text-muted small">
                  <p class = " text-muted small">   <span class="catlist text-muted small">in
                    {% for category in post.categories %}
                    <a class="text-muted  smoothscroll" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span class="sep"> </span>
                    {% endfor %}  </p>
                    </span>
                </span>
            </span>
            </li>
            <hr>
        {% endfor %}
    </ul>
</div>
