---
layout: project
title: "Test Timeline V2"
image_path: "https://images.unsplash.com/photo-1493528237448-144452699e16?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1465&q=80"
image_alt: "Painted wall depicting famous feminist rebel characters - near to the Picasso Museum, La Rambla, Barcelona"
tags: data-collection article
umbrella: "hidden-histories"
permalink: /projects/hidden-histories/historyv2
category: [project]
umbrella: "hidden-histories"
subtitle: "Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?"
---

<style>
	.xl_selected .item_hidden {
		display: block;
	}
	.sm_selected .item_hidden {
		display: none;
	}
	.comparison_section,
	.single_section {
		transition: 0.4s ease-in !important;
	}
	.historycard {
		border: 1px dashed var(--baseA0) !important;
	}
</style>

<section class="">
    <div class=" timeline-container"
        style="background-image: url({{site.baseurl}}/assets/svg/assorted/time_line.svg)!important; object-fit: cover !important; height: 100%!important; width: auto; background-position: center !important;">
		{% for row in site.data.hidden-histories.historyv2 %}
		<div class="row ml-5 pl-lg-5 my-3 my-lg-5">
			{% include_relative /assets/card-historyv2.html %}
		</div>
		{% endfor %}
	</div>
</section>

<script src="{{site.baseurl}}/assets/js/projects/timeline_reveal.js"></script>
