---
layout: project
title: "Test Timeline V3"
tags: data-collection article
umbrella: "hidden-histories"
permalink: /projects/hidden-histories/test-v3
category: [project]
umbrella: "hidden-histories"
subtitle: "Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?"
excerpt: "Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?"
image_path: "https://images.unsplash.com/photo-1493528237448-144452699e16?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1465&q=80"
image_alt: "Painted wall depicting famous feminist rebel characters - near to the Picasso Museum, La Rambla, Barcelona"
---

{% include assorted/mobile-alert.html %}

    <div class=" timeline-container"
        style="background-image: url({{site.baseurl}}/assets/svg/assorted/time_line.svg)!important; object-fit: cover !important; height: 100%!important; width: auto; background-position: center !important;">
{% for row in site.data.hidden-histories.historyv2 %}

        {% if row.gender == "f" %}
            {% include_relative /assets/card-left.html %}
        {% endif %}

        {% if row.gender == "m" %}
            {% include_relative /assets/card-right.html %}   
        {% endif %}

{% endfor %}

</div>