.containerz {
	    width: 250px;
    height: 250px;
    top: 50%;
    left: 50%;

	perspective: 700px;
	margin: 50px auto;

	
}



.cube {
	height: 100%;
	width: 100%;

	transform-style: preserve-3d;
	transition: 1.3s ease;
	
}

.cube > div {
	height: 200px;
	width: 200px;
	border: 2px solid rgba(160, 156, 165) !important;
	font-size: 50px;
	text-align: left;
	line-height: 200px;
	position: absolute;
	cursor: pointer;
	
	color: rgba(55, 47, 66) !important;
}

.side.one {
	transform: rotate(0deg) translateZ(100px);
}

.side.two {
	transform: rotateY(180deg) translateZ(100px) rotateZ(180deg);
}

.side.three {
	transform: rotateY(-90deg) translateZ(100px);
}

.side.four {
	transform: rotateY(90deg) translateZ(100px);
}

.side.five {
	transform: rotateX(90deg) translateZ(100px);
}

.side.six {
	transform: rotateX(-90deg) translateZ(100px);
}

.ethical,
.engaging,
.empowering {
	display: none;
}
