<section 
		class="container z-depth-1 alert px-lg-5" 
		style="background-color: var(--frida7)!important;"
		role="alert"

		>
		<h1 class="cubano text-center ">
			<i
				class="las la-exclamation-triangle"
				style="color: var(--frida)!important;"
			></i>
			This site is under construction.
		</h1>
		<p class=" small ">
			Welcome to Free the Data! We're still getting settled in – feel free to
			explore what's here, but please note that you may encounter the occasional
			404 page or stock photo. We hope to officially launch by March/April 2021
			– you can follow us on
			<a href="https://twitter.com/freethedata_" target="_blank">Twitter</a>
			for updates. We can't wait for you to see the completed site!
			<i class="las la-heart textfrida"></i>
		</p>
</section>
