<section class="container">
	<h3 class="cubano">Explore</h3>
	<hr />
	<div class=" card-deck mt-4">
		<div class="card">
			<a href="{{ site.baseurl }}/projects">
				<h5 class="font-weight-bold my-2 ">Projects →</h5>
			</a>
			<p class="small">
				Infographics, dashboards, graphs and #DataArt: If we can find a way to
				visualize something, we will. If it works, we'll share it here. (And if
				it doesn't, we'll probably share it here anyway. F*CK perfectionism.)
			</p>
		</div>
		<div class="card">
			<a href="{{ site.baseurl }}/resources">
				<h5 class="font-weight-bold my-2 ">Resources →</h5>
			</a>
			<p class="small">
				We believe in smashing black boxes that make it hard to access, analyze,
				or afford data. We strive to help make data science more empowering by
				providing resources on data science and data justice.
			</p>
		</div>
		<div class="card">
			<a href="{{ site.baseurl }}/data101">
				<h5 class="font-weight-bold my-2 ">Data 101 →</h5>
			</a>
			<p class="small">
				In our Data 101 series, we share what we've learned about the process of
				writing scripts, breaking things, identifying problems, and experiencing
				the joy of fixing them.
			</p>
		</div>
	</div>
</section>