<div type="button" class="text-muted small pt-1 m-0 p-0" data-toggle="modal" data-target="#exampleModalCenter2"style = "font-size: .8rem!important;" ><i
    class=" fas fa-info-circle fa-xs xs"></i> &nbsp;
  How was this made?
</div>

<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter2Title"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header ">
        <h3 class="modal-title cubano" id="exampleModalCenter2Title">How was this made?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5 class="font-weight-bold mb-3">External references</h5>
            <div class="d-inline-block">
              <a href="https://codepen.io/mark-s-l-carlyon/pen/QxyBMq" target="_blank"><img type="button" class=" mx-1 "
                  src="{{ site.baseurl}}/assets/icons/codepden.svg" alt="codepen" style="width: 30px; height: 30px;"
                  data-toggle="tooltip" data-placement="top"
                  title="Click to view the Codepen that this viz was adapted from."></img></a>
            </div>
          </li>

                    <li class="list-group-item">
            <h5 class="font-weight-bold mb-3">Our scripts</h5>
            <div class="d-inline-block">

              <a href="#" target="_blank"><img type="button" class=" mx-1 " src="{{ site.baseurl }}/assets/icons/github.svg"
                  alt="Github" style="width: 30px; height: 30px;" data-toggle="tooltip" data-placement="top"
                  title="Click to view our source code for this viz on Github."></img></a>
            </div>
          </li>


          <li class="list-group-item">
            <h5 class="font-weight-bold mb-3">Languages</h5>
            <div class="d-inline-block">
              <img type="button" class=" mx-1 " src="{{ site.baseurl }}/assets/icons/html.svg" alt="html"
                style="width: 30px; height: 30px;" data-toggle="tooltip" data-placement="top" title="HTML "></img>
              <img type="button" class=" mx-1 " src="{{ site.baseurl }}/assets/icons/css.svg" alt="css"
                style="width: 30px; height: 30px;" data-toggle="tooltip" data-placement="top" title="CSS "></img>
              <img type="button" class=" mx-1 " src="{{ site.baseurl }}/assets/icons/javascript.svg" alt="javascript"
                style="width: 30px; height: 30px;" data-toggle="tooltip" data-placement="top" title="JavaScript "></img>
            </div>
          </li>

          <li class="list-group-item">
            <h5 class="font-weight-bold mb-3">Frameworks</h5>
            <div class="d-inline-block">
              <img type="button" class=" mx-1 " src="{{ site.baseurl }}/assets/icons/bs4.svg" alt="Bootstrap 4"
                style="width: 30px; height: 30px;" data-toggle="tooltip" data-placement="top" title="Bootstrap 4"></img>
              <img type="button" class=" mx-1 " src="{{ site.baseurl }}/assets/icons/mdb.svg" alt="Material Design Bootstrap"
                style="width: 30px; height: 30px;" data-toggle="tooltip" data-placement="top"
                title="Material Design Bootstrap V4"></img>
            </div>

          </li>
        </ul>

      </div>



      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>


    </div>
  </div>
</div>