---
layout: project
title: "Hidden Histories"
permalink: "/projects/hidden-histories"
author: frida
umbrella: "index"
image_path: "/media/projects/hiddenhistories.png"
subtitle: Using infographic timelines, we review the stories that are told with data and about data. Along the way, we try to uncover and make visible the stories aren't being told.
excerpt: "Using infographic timelines, we review the stories that are told with data and about data. Along the way, we try to uncover and make visible the stories aren't being told."
---

<section>
  <div class="container z-depth-0 my-5 p-5">
      {% for post in site.projects %}
        {% if post.umbrella == "hidden-histories" %}
        <div class = "border_container">
    <div class="row my-4 border-top border-light  border_hover justify-content-center">

            {% include_relative /assets/cards/history-card.html %}
                </div>
</div>

        {% endif %}
      {% endfor %}
  </div>
</section>

