
<!-- 

	section 1 - slurs (total / over time)
	section 2 - violence (total / over time)
				~ additional stuff - stereotypes etc. 
	section 3 - people (total / over time)
	section 4 - qualitative? moral reckoning? idk
 -->

<section class=" container roomforaside" style = "margin-top: -80px!important;">

	<h2 class=""></h2>

		<p>
			<sup>#</sup>
			 
			<sup>#</sup>
			 
			<sup>#</sup> 
		</p>
		<p>
			
			<sup>#</sup>
			
		</p>

		<p>
			
		</p>


		<div class = "container">
<div class = "row">
	<div class = "col-md-6 align-self-center">

		<p>
			
		</p>

	</div>
	

	<div class = "col-md-6">

			<canvas id="doughnut-chart" width="800" height="450"></canvas>
<script>
new Chart(document.getElementById("doughnut-chart"), {
    type: 'doughnut',
    data: {
      labels: ["Does not contain misogyny", "Contains misogyny"],
      datasets: [
        {
          label: "% of songs",
          backgroundColor: ["#e86166", "#f7c6c8"],
          data: [13.02,86.98]
        }
      ]
    },
    options: {
      title: {
        display: false,
        text: "Are there any Eminem songs that don't contain misogynistic lyrics?"
      }
    }
});
</script>
	</div>
	
</div>

		</div>





		<p>
			
		</p>
		<p class="textcallout">
			<span class="textlg ">
				
				<sup>#</sup>
			</span>
		</p>
		<p>
			
		</p>
		<p>
			
		</p>
		<p>
			
		</p>

		<p>
			
		</p>
	</div>
	<div class="flex-center">
		<i class="las la-angle-down textxl mt-3  hidden-1200"></i>
	</div>
</section>
