
<!-- 

	section 1 - slurs (total / over time)
	section 2 - violence (total / over time)
				~ additional stuff - stereotypes etc. 
	section 3 - people (total / over time)
	section 4 - qualitative? moral reckoning? idk
 -->

<section class=" container roomforaside" style = "margin-top: -80px!important;">

	<h2 class="">Introduction</h2>

	<div class=" ">
		<p>
			I'm sure I'm not alone in feeling like the US is on the edge of a precipice: we've
			seen a monumental rise in social justice advocacy over the past two
			decades,
			<sup>#</sup>
			 but this progress has coexisted with the ongoing normalization of
			violence against women and minorities.
			<sup>#</sup>
			 In some ways, the 2020 presidential election felt like a referendum on white masculinity,
			<sup>#</sup> and it worried me that I couldn't predict the vote's outcome.
		</p>
		<p>
			I arrived at this project because, in my quest for a distraction, it
			occurred to me that Eminem's music sits uncomfortably between these two
			poles. In his two-plus decade career, he’s been a consistent advocate for
			racial equality; he’s denounced former presidents Trump and Bush, as well
			as their supporters; and he's periodically apologized for some of his past
			sexism and homophobia.
			<sup>#</sup>
			But he hasn't stopped it. Across the vast majority of his career, Eminem
			has unabashedly rapped about abusing, harrassing, assaulting, raping,
			murdering, stalking, and demeaning women.
		</p>

		<p>
			It took so little effort to spot instances of misogyny in his songs that
			it only took me a day to answer the question that this project originally
			sought to answer: Are there
			<i>any</i>
			Eminem songs that don't contain misogynistic lyrics? The short answer is
			<em>yes</em>
			, there are a handful of Eminem songs that do not contain any misogyny.
			About
			<sup>#</sup>
			25 songs, or roughly thirteen percent of Eminem's discography.
		</p>


		<div class = "container">
<div class = "row">
	<div class = "col-md-6 align-self-center">

		<p>
			But to stop here — with the declaration that about 87% of Eminem's songs
			are misogynistic – would be to miss the kinds of patterns that surface in
			his lyrics.
			<sup>#</sup>
			It's not just that Eminem is a misogynist; it's that his misogyny is
			deliberate and self-aware. It's evolved between albums and over time, both
			in its degree of violence and in its cultural references.
		</p>

	</div>
	

	<div class = "col-md-6">

			<canvas id="doughnut-chart" width="800" height="450"></canvas>
<script>
new Chart(document.getElementById("doughnut-chart"), {
    type: 'doughnut',
    data: {
      labels: ["Does not contain misogyny", "Contains misogyny"],
      datasets: [
        {
          label: "% of songs",
          backgroundColor: ["#e86166", "#f7c6c8"],
          data: [13.02,86.98]
        }
      ]
    },
    options: {
      title: {
        display: false,
        text: "Are there any Eminem songs that don't contain misogynistic lyrics?"
      }
    }
});
</script>
	</div>
	
</div>

		</div>





		<p>
			And it's become entirely quotidian.
			<sup>#</sup>
			While Eminem's songs have been streamed hundreds of millions
			<sup>#</sup>
			of times, it can be hard to visualize the forest of his misogyny through
			the proverbial trees of his songs.
		</p>
		<p class="textcallout">
			<span class="textlg ">
				This project strips away the distractions — the sardonic wordplay, the
				sharp beats, the power of voice and cadence — and re-contextualizes
				Eminem's lyrics as a time capsule of
				<a href="" target="_blank">
					popular misogyny
					<sup>#</sup>
				</a>
				and toxic masculinity.
				<sup>#</sup>
			</span>
		</p>
		<p>
			This project is NOT intended to be a denouncement of rap, a tactic to
			shame Eminem fans, a call for censorship, or an argument that Eminem is
			somehow causing people to hate women. Misogyny is endemic to all music
			genres, I’m an Eminem fan myself, I value freedom of expression, and it
			would be wildly off the mark to make Eminem misogyny’s scapegoat.
		</p>
		<p>
			This project IS a critique of misogyny’s commonplace in the media that we
			enjoy, and it forwards this critique by taking a popular musician as a
			case study. It questions what it means to enjoy music that demeans women
			at a time where we’re becoming more culturally sensitive to the fact that
			violent words can
			<i>do</i>
			things, even when they’re said in jest or in a rhyme.
		</p>
		<p>
			I’m not sure if visibility is the answer—it could be that reproducing
			Eminem’s misogyny below does nothing more than, y’know, reproduce
			misogyny. But given that his words have been streamed hundreds of millions
			of times, people are hearing them anyway. So, my hope is that we might
			gain something from re-contextualizing them.
		</p>

		<p>
			You'll find some additional notes on methods, as well as citations, at the
			end of the page. But for now, I'll turn the mic over to Eminem:
		</p>
	</div>
	<div class="flex-center">
		<i class="las la-angle-down textxl mt-3  hidden-1200"></i>
	</div>
</section>
