
{% if cat == "data-101" %}
					<i
						type="button"
						class="las la-laptop-code mt-1"
						data-toggle="tooltip"
						data-placement="top"
						title="Data 101"
					></i>
{% endif %}
{% if cat == "resources" %}
					<i
						type="button"
						class="las la-tools mt-1"
						data-toggle="tooltip"
						data-placement="top"
						title="Resources"
					></i>
{% endif %}

{% if cat == "the-struggle" %}
					<i
						type="button"
						class="las la-fist-raised mt-1"
						data-toggle="tooltip"
						data-placement="top"
						title="The Struggle"
					></i>
{% endif %}

{% if cat == "fck-it" %}
					<i   
						type="button"
						class="las la-hand-middle-finger mt-1"
						data-toggle="tooltip"
						data-placement="top"
						title="FCKIT"
					></i>
{% endif %}

{% if cat == "hidden-histories" %}
					<i
						type="button"
						class="las la-history mt-1"
						data-toggle="tooltip"
						data-placement="top"
						title="Hidden Histories"
					></i>
{% endif %}

{% if cat == "kitchen-sink" %}
					<i
						type="button"
						class="lar la-archive mt-1"
						data-toggle="tooltip"
						data-placement="top"
						title="Kitchen Sink"
					></i>
{% endif %}

{% if cat == "x-ray" %}
					<i
						type="button"
						class="lar la-x-ray mt-1"
						data-toggle="tooltip"
						data-placement="top"
						title="X-Ray"
					></i>
{% endif %}


