
{% if cat == "data101" %}
					<i
						type="button"
						class="lar la-bell-slash mt-1"
						data-toggle="tooltip"
						data-placement="top"
						title="Data 101"
					></i>
{% endif %}
{% if cat == "resources" %}
					<i
						type="button"
						class="las la-taxi mt-1"
						data-toggle="tooltip"
						data-placement="top"
						title="Resources"
					></i>
{% endif %}

{% if cat == "thestruggle" %}
					<i
						type="button"
						class="las la-fish mt-1"
						data-toggle="tooltip"
						data-placement="top"
						title="The Struggle"
					></i>
{% endif %}

{% if cat == "fckit" %}
					<i   
						type="button"
						class="las la-hand-middle-finger mt-1"
						data-toggle="tooltip"
						data-placement="top"
						title="FCKIT"
					></i>
{% endif %}

{% if cat == "hiddenhistories" %}
					<i
						type="button"
						class="lar la-bell-slash mt-1"
						data-toggle="tooltip"
						data-placement="top"
						title="Hidden Histories"
					></i>
{% endif %}

{% if cat == "kitchensink" %}
					<i
						type="button"
						class="lar la-bell-slash mt-1"
						data-toggle="tooltip"
						data-placement="top"
						title="Kitchen Sink"
					></i>
{% endif %}

{% if cat == "xray" %}
					<i
						type="button"
						class="lar la-bell-slash mt-1"
						data-toggle="tooltip"
						data-placement="top"
						title="X-Ray"
					></i>
{% endif %}


