
		<link rel="stylesheet" href=" {{ site.baseurl }}/assets/js/chartjs/chart.min.css">
	

{% assign articles = 0 %}
    {% for post in site.categories.article %}
                {% assign articles = articles | plus: 1 %}
      {% endfor %}

    {% for post in site.categories.data101 %}
                {% assign articles = articles | plus: 1 %}
      {% endfor %}

      
{% assign viz = 0 %}
    {% for item in site.categories.article %}
                {% assign articles = articles | plus: 1 %}
      {% endfor %}

    {% for post in site.categories.data101 %}
                {% assign articles = articles | plus: 1 %}
      {% endfor %}

</ul>
</ul>


<div class = "container">
    <div class = "row">
        
    <div class = "col-md-6">

    
<canvas id="doughnut-chart" width="400" height="225"></canvas>

        
    </div>
    
    <div class = "col-md-6 align-self-center">
<h1>Articles</h1>
<h1>Visualizations</h1>
<h1>Data 101</h1>

</div>
    </div>
    </div>


    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src=" {{ site.baseurl }}/assets/js/chartjs/chart.min.js"></script>





<script>
	//doughnut
	new Chart(document.getElementById("doughnut-chart"), {
    type: 'doughnut',
    data: {
      labels: ["Articles", "Visualizations", "Data 101"],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
          data: [{{articles}},5267,734]
        }
      ]
    },
    options: {
        legend: {
            display: false,
        },
      title: {
        display: false,
      }
    }
});

</script>
