			<div class = "col col-lg-9" >

				<!-- BITE SIZED -->
				<div class = ""style = "padding-right: 15px!important;" >

					<h5 class="cubano  section-heading" style = "padding-right: 15px!important;">bite-sized</h5>
					<hr >

					<div class="d-flex   flex-wrap" style = "padding-right: 15px!important;">


						{% for post in site.tags.bitesized %}

						<div class = 'px-3 py-3'>
							<div class="card bg-dark text-white " style = "width: 10rem;">

								<img src="{{post.image_path}}" class="card-img" alt="{{post.image_alt}}">

								<div class="card-img-overlay">
									<h5 class="card-title"><a href = "{{site.baseurl}}{{post.permalink}}" target = "_blank">{{post.title}}</a></h5>

									<p class="card-text">
										<small class="text-muted">{{post.author}}</small>
									</p>
								</div>
							</div>
						</div>
						{% endfor %}

					</div>
				</div>
			</div>



