
	<div class = "d-flex    pb-5 pt-5">
		<!-- DATA 101 -->

		<!-- ! heading -->
		<div class="  pb-5 pt-5 ">
			<h5 class="cubano  section-heading">data 101</h5>
			<p>Breaking the black box, one post at a time. </p>
			<hr>



			<div class="d-flex   ">

				{% for post in site.tags.data101 %}

				<div class="card z-depth-0 border-primary p-2 m-3">
					<div class="card-body">

						{% for cat in post.category %}
						<span class="" style = ""><a class = "badge  z-depth-0 card-badge " href="{{site.baseurl}}/{{cat}}">{{cat}}</a></span>
						{% endfor %}

									

											<h5 class="card-title mt-3"><a href = "{{site.baseurl}}{{post.permalink}}" target = "_blank"><i class="fas fa-asterisk" style = "color: #00a5a7; "></i>&nbsp;{{post.title}}</a></h5>

						<p class = "card-text small">{{post.subtitle}}</p>

						<div class = "card-footer">

							<small class = "text-muted small">

								<a
								href="#"
								class=""
								>{{post.author}}</a>  &nbsp; | &nbsp; {{post.date | date_to_long_string}}  </small>

							</div>
						</div>
												</div>

					{% endfor %}

				</div>

				<!-- END data collection -->

			</div>


		</div>