
.maxwidth {

	max-width: 1400px!important;
	margin-bottom: 100px!important;
}

.article-card {

	margin:50px;
}


.featured-bg {
	background-image: url("https://images.unsplash.com/photo-1583687788982-7249880cf87e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1345&q=80")!important;
	background-size: cover!important;
	border: none!important;
}


.featured-title {

	color: var(--dark)!important;

}
.featured-lead {

	font-family: var(--inter)!important;
	font-size: 15px!important;
	font-weight: 600!important;
}
.featured-section {
	background-color: var(--offwhite)!important;
	padding: 50px!important;
}

.featured-link {
	color: var(--dark)!important;
}

.featured-meta {

	font-size: 10px!important;
	text-decoration:none!important;

}



.card-overlay {

      position:absolute;
      top:0;
	margin-top:10px!important;
	padding: 30px!important;

	color: var(--dark);
}

.article_title, .article_snippet {
	color: var(--dark);
}
.displaynone {
opacity: 1;
}

.overlay-body:hover  .displaynone {
  opacity: 0;
}


.tint:before, .displaynone {
transition: .2s ease!important;

}

 .btn-reveal {
transition: .2s ease!important;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)}

.btn-reveal {
opacity: 0;
}
.overlay-body:hover  .btn-reveal {
  opacity: 1;
}




.noshadow {

box-shadow:none!important;}

.media-icon {

	width: 100px!important;
	margin-right:13px!important;
	object-fit: cover!important;
}
.CARDGRID {
  max-width: 1500px!important;
  margin: 0 auto!important;
  display: grid!important;
  grid-gap: 1rem!important;
 grid-template-columns: repeat(2, 1fr); 
}

.CARDGRIDCARD {
}

.CARDIMG {
height:10rem;
	object-fit: cover!important;


}


.CARDGRIDCARD {
}

.BITESIZEDCARD {
  padding: 1rem!important;

}




@media (max-width: 1000px) {

.GRIDITEM {

min-width: 300px!important;
max-width: 400px!important;

margin: 10px!important;
}
}


@media (min-width: 1001px) {

.GRIDITEM {

max-width: 300px!important;

margin: 10px!important;
}
}


.article_title a {

color: var(--dark)!important;
text-decoration: none!important;

}




  .GRIDITEM {
    filter: none;
    -webkit-filter: grayscale(100%);
    -moz-filter:    grayscale(100%);
    -ms-filter:     grayscale(100%);
    -o-filter:      grayscale(100%);
    cursor: pointer;
    transition: all 300ms ease;
  }
  .GRIDITEM:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    -moz-filter:    grayscale(0%);
    -ms-filter:     grayscale(0%);
    -o-filter:      grayscale(0%);
  }



.bitesized_title, .bitesized_snippet, .bitesized_link {
	font-family: var(--inter)!important;

}

.bitesized_title {

	font-weight: 600!important;
	font-size: 14px!important;
}

.bitesized_snippet, .bitesized_link {

	font-weight: 400!important;
	font-size: 12px!important;
}




.article_title, .article_snippet, .article_link {
	font-family: var(--inter)!important;

}

.article_title {

	font-weight: 700!important;
	font-size: 22px!important;
}

.article_snippet, .article_link {

	font-weight: 400!important;
	font-size: 14px!important;
}

