@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
  --tq-extra-light: #ccf0f1;
  --tq-light: #00B9BC;
  --tq-medium: #006465;
  --tq-dark: #00292b;
  --frida: #e86166;
  --basicsans: 'Space Grotesk', sans-serif;
  --inter: 'Space Grotesk', sans-serif;
  --cubano: 'cubano', sans-serif;
  --offwhite: #f8f9fb;
  --gradient1: rgba(179, 233, 235,0.3);
  --gradient2: rgba(179, 233, 235,0.2);
}


body {
    background-color: #f8f9fb !important;
    background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png") !important;
  /* Set a specific height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;

}

.nav-item a {

  font-weight: 400 !important;
}

html {
  scroll-behavior: smooth !important;
}


.textoffwhite {
  color: #f8f9fb!important;
}


.dropdown-menu a {

  color: #00292b !important;
}


/* FONT FAMILIES */
.basicsans, h1, h2, h3, h4, h5, h6 {
  font-family: var(--inter) !important;
}

.inter, p, span, small, .small, .card-body, .badge, .btn, .btn-small {
  font-family: var(--inter) !important;
}

p {
  font-weight:400;
}

.cubano {
  font-family: var(--cubano) !important;
  font-weight: 400 !important;
  letter-spacing: .5px!important;
}

.card-body p {
}

p {
  font-size: 1rem !important;
}

a {
  color: var(--tq-dark)!important;
}
a:hover {
  color: rgb(0, 185, 188)!important;
  text-decoration:underline!important;
}
.nav-item, .nav-link {
  font-size: 1rem !important;
  font-family: var(--inter) !important;
  font-weight: 700 !important;
  color: var(--offwhite) !important;

}

h2, .card-title {
  font-size: 1.5rem !important;
}

.card-text {
  font-size: 14px !important;
}

.card-footer, .card-badge, .btn, .btn-sm, .ftd-btn {
  font-size: 14px !important;
}

/* FONT WEIGHTS */
a, .card-title, .footer-links {
  font-weight: 600 ;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800 !important;
}

/* FONT COLORS */
a, .frida-link {
  color: var(--tq-dark);
}

h1, h2, h3, h4, h5, h6{
  color: var(--tq-dark) !important;
}

/* FONT DECORATIONS */
a {
  text-decoration: none !important;

}

/* FONT HOVERS */
a:hover {
  text-decoration: underline !important;
}

/* BACKGROUND COLORS */
.bg-dark, .btn-dark {
  background-color: var(--tq-dark) !important;
}


/* DEFAULT BUTTONS & BADGES */
.btn, .btn-sm, .ftd-btn {
  box-shadow: none !important;
  border: 1px solid var(--tq-dark) !important;
  text-transform: none !important;
}

.card-badge, .badge {
  color: var(--tq-dark) !important;
  font-family: var(--inter) !important;
  font-weight: 500 !important;
  margin-top: 3px !important;
  margin-bottom: 6px !important;
}


@media only screen and (min-width: 1000px) {
  .card-modal-button {
    max-width: 15rem!important;
    height: 5rem!important;
    margin-left: 2px!important;
    margin-right: 2px!important;
  }
}



@media only screen and (max-width: 999px) {
  .card-modal-button {
    width:100%;
  }
}

.card-modal-button-img {
  object-fit: cover;
}

.card, .ftd-card {
  border: none!important;
  background-color: var(--offwhite)important;

}

.ftd-card img {
  -webkit-filter: grayscale(100%);
  -moz-filter:    grayscale(100%);
  -ms-filter:     grayscale(100%);
  -o-filter:      grayscale(100%);
  filter: gray;
transition: 1s ease;
}


 .ftd-card:hover img  {
  -webkit-filter: none;

}


.ftd-card:hover a  {
  color: rgb(0, 185, 188)!important;
}


.link-color-overlay {
  color: #3a3a3a!important;
}


.img-gradient{
  position:relative;
  display:inline-block;
}
.img-gradient:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: -moz-linear-gradient(top, var(--gradient1) 0%, var(--gradient2) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,var(--gradient2)), color-stop(100%,var(--gradient1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, var(--gradient1) 0%,var(--gradient2) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, var(--gradient1) 0%,var(--gradient2) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, var(--gradient1) 0%,var(--gradient2) 100%); /* IE10+ */
  background: linear-gradient(to bottom, var(--gradient1) 0%,var(--gradient2) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.img-gradient img{
  display:block;
}

.card-default,  .card-featured, .card-row, .card-jumbo{
border: 1px solid #e5e7e9!important;
background-color: #f8f9fb!important;

}

.card-small{
border: 1px solid #e5e7e9!important;

}

.card-default a, .card-small a, .card-horizontal a, .card-featured a {
  font-weight: 700 !important;

}

.card p {

  font-size: .9rem!important;
}


.card-featured {
  padding: 60px!important;
  background-color: var(--offwhite)!important;
}
.category-button {
font-family: var(--inter)!important;
letter-spacing: .5px;
font-weight: 500;
}

.category-button:hover {
  font-weight: 500;
    color: var(--offwhite)!important;

  background-color: var(--tq-light)!important;
}

.category-button:focus {
  color: var(--offwhite)!important;
  background-color: var(--frida)!important;
}


.posticon {
  color: var(--offwhite)!important;
  font-size: 20px!important;

}
.shadowdrop {
  box-shadow:  4px 4px 6px #cbcbcb,
             -4px -4px 6px #ffffff !important;
}

.shadowdropv2 {
  box-shadow:  4px 4px 10px #cbcbcb !important;
}














