/*
=========================================================
* SOURCES / REFERENCES
=========================================================
* Neumorphism elements modified from: https://themesberg.com/product/ui-kits/neumorphism-ui
=========================================================
/*!
 */

:root {
	--dark: #00292b;
	--medium: #999;
	--light: #f1f1f1;
	--offwhite: #fff;
	--shadow_dark: rgba(55, 84, 170, .29);
	--shadow_light: #f1f1f1;
	--frida: #E86166;
	--t1: rgb(0, 185, 188);
	--t2: rgb(0, 165, 167);
	--t3: rgb(0, 144, 146);
	--t4: rgb(0, 124, 125);
	--t5: rgb(0, 103, 105);
	--t6: rgb(0, 82, 84);
	--t7: rgb(0, 62, 63);
	--t8: rgb(0, 41, 42);
	--t9: rgb(0, 21, 21);
	--cubano: 'cubano-sharp', sans-serif;
	--Inter: 'Inter', sans-serif;
	--accentfont: 'cubano-sharp', sans-serif;
	--headings: 'Inter', sans-serif;
}



/**
 * = GENERAL
 */

body {
	background-color: #fff!important;
}


/**
 * = SHADOWS (NEUMORPHISM)
 */


[class*="shadow"] {
	transition: all 0.2s ease;
}

.shadow-outside-sharp {

	box-shadow:  5px 5px 3px #e6e8e8 ,
			-5px -5px 3px #ffffff!important;
}

.shadow-inside-sharp {
	box-shadow: inset 5px 5px 4px #e6e8e8,
			inset -5px -5px 4px #ffffff !important;
}


.shadow-inside-soft {
box-shadow: inset 12px 12px 28px #c6c7c7,
            inset -12px -12px 28px #ffffff !important;

}

.shadow-flat {
box-shadow:  5px 5px 9px #919191,
             -5px -5px 9px #ffffff !important;
}

.shadow-pressed {
	box-shadow: inset 5px 5px 4px #e1e1e1, inset -5px -5px 4px #ffffff !important;
}

/**
 * = fonts
 */

h1, h2, h3, h4, h5, h6 {
	font-family: var(--headings);
	color: var(--dark);
}

a {
	color: var(--frida);
	text-decoration:none!important;
}

a:hover {

}

html {
	font-family: "Inter", sans-serif;
}

p, .card-text, .btn {
	font-family: "Inter", sans-serif;
	font-size: 13px;
	color: var(--dark);
}

body {
	margin: 0;
	font-family: "Inter", sans-serif;
	color: var(--dark);
}

.fs1 {
	font-size: 1.5rem !important;
}

.fs2 {
	font-size: 2.5rem !important;
}

.fs3 {
	font-size: 3.5rem !important;
}

.f-medium, .f-regular {
	font-weight: 400 !important;
}

.f-semibold {
	font-weight: 500 !important;
}

.f-bold {
	font-weight: 700 !important;
}

.f-black {
	font-weight: 800 !important;
}

.heading-font {
	font-family: var(--headings) !important;
}

.cubano {
	font-family: var(--cubano) !important;
}

/**
 * = BUTTONS
 */

.btn, .icon {
	border: none!important;
}


.btn-topic {
	font-size: 14px!important;
	font-family: var(--Inter)!important;
	padding-left: 8px!important;
	padding-right: 8px!important;
	padding-top: 6px!important;
	padding-bottom: 6px!important;
}

/**
 * = TOPICS AND TINTS
 */

.badge {
	font-size: 10px!important;
	font-weight: 500!important;
	font-family: var(--Inter)!important;
	padding-left: 6px!important;
	padding-right: 6px!important;
	padding-top: 4px!important;
	padding-bottom: 4px!important;
	margin-bottom: 7px!important;
}

/**
 * = MEDIA RULES
 */


@media only screen and (max-width: 800px) {


}






/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
main {
  margin-bottom: 200px!important; /* Margin bottom by footer height */
}
.footer {
	margin-bottom:0!important;
	padding-bottom:0!important;
  position: absolute;
  bottom: 0;	
	margin-top: 200px!important;

  width: 100%;
  height: 200px; /* Set the fixed height of the footer here */
  line-height: 40px; /* Vertically center the text there */
  background-color: #00292b;

}

.footerdiv {
	margin-top: 200px!important;

padding-top:100!important;
	margin-bottom:0!important;
	padding-bottom:0!important;
line-height:1;
  background-color: #00292b;

}


.footer_color {
	color: #00989a!important;
}





.btn-modal, .btn-team {
	background-color: #09d3c4!important;
	color: var(--dark)!important;
	border: 1px solid var(--dark)!important;
	font-family: var(--Inter)!important; 
	font-weight: 600!important;
	margin-left: 10px!important;
box-shadow:  2px 2px 2px rgba(0, 47, 49, .7),
             -2px -2px 2px #ffffff !important;
	font-size: 14px!important;

}




.btn-modal:hover, .btn-team:hover {
	color: var(--dark)!important;
	background-color: var(--offwhite)!important;

	font-family: var(--Inter)!important; 
	font-weight: 600!important;
	margin-left: 10px!important;
box-shadow:  2px 2px 2px rgba(0, 47, 49, .7),
             -2px -2px 2px #ffffff !important;

}

.btn-modal:active, .btn-team:active {
	color: var(--dark)!important;
	font-family: var(--Inter)!important; 
	font-weight: 400!important;
	margin-left: 10px!important;
box-shadow: inset 4px 4px 9px #a9a9a9,
            inset -4px -4px 9px #ffffff !important;

}

.topic-badge {
	color: var(--dark)!important;
	transition: .1s ease!important;

	font-family: var(--Inter)!important; 
	border: 1px solid var(--dark)!important;

	font-weight: 400!important;
	font-size: 11.5px!important;
	padding: 5px!important;

}

.topic-badge:hover {
	background-color: var(--dark)!important;
	color: #55babb!important;

}

.topic-badge:active, .topic-badge:focus {

}

.external-icon {
	background-color: var(--frida)!important;	
	color: var(--offwhite)!important;
	font-size: 1.3rem!important;
	width: 50px!important;
	height: 50px!important;
	border-radius: 50%!important;
	padding: 15px!important;
}

.external-card {

background-color: var(--offwhite)!important; 
border: none!important;
}
.external-card p, .external-card a, .external-card h5 {

font-family: var(--Inter)!important;
}
.external-card h5 {
	font-size: 1rem!important;
}

.external-card h5 {
	font-size: 1rem!important;
}

.post_source { 
	font-size: .85rem!important;
	font-weight: 300!important;
	font-style: italic!important;
}
