.gridsection  {
position: relative;
margin-bottom:50px;
}


.photoania, .photosarah, .photoleni, .photojasmina, .photofrida {
margin-top: 60px!important;
bottom:0!important;
}

.teamname, .teamrole, .teamfocus {
margin:0;

}


.teamfocus {
padding-bottom:25px;
}

.teamname {
font-size: 2rem!important;
font-weight:800!important;

}


.teamrole {
font-size: 1rem!important;
font-weight: 600!important;
}


.teamfocus {
font-size: .8rem!important;
font-style:italic!important;
}


.photoania{
  float: left;
  shape-outside: url("/media/team/ania1.png");
  shape-image-threshold: 0.9;
	max-width:300px;
  shape-margin: 2%;


}



.photosarah{
  float: left;
  shape-outside: url(" /media/team/sarah1.png");
  shape-image-threshold: 0.9;
	max-width:300px;
  shape-margin: 2%;

}

.photoleni{
  float: left;
  shape-outside: url("/media/team/leni1.png");
  shape-image-threshold: 0.9;
	max-height:350px;
  shape-margin: 2%;

}

.photojasmina{
  float: left;
  shape-outside: url("/media/team/jasmina1.png");
  shape-image-threshold: 0.9;
	max-width:350px;
  shape-margin: 2%;

}

.photofrida{
  float: left;
  shape-outside: url("/media/team/frida1.png");
  shape-image-threshold: 0.9;
	max-width:300px;
  shape-margin: 2%;

}




@media only screen and (max-width: 600px) {
  .photofrida, .photoania, .photosarah, .photoleni, .photojasmina {
    max-width:250px!important;
	max-height:300px!important;
   
  }
}


