.modal-biog {
font-size: 16px !important;}
	.photoAnia, .photoSarah, .photoLeni, .photoJasmina, .photoFrida, .modal-img {
		padding: 0!important;
		margin: 0!important;
		height: 100%;
	}
	.photoAnia {
		float: left;
		shape-outside: url("/media/team/ania1.png");
		shape-image-threshold: 0.9;
		shape-margin: 2%;
	}
	.photoSarah {
		float: left;
		shape-outside: url(" /media/team/sarah1.png");
		shape-image-threshold: 0.9;
		shape-margin: 2%;
	}
	.photoLeni {
		float: left;
		shape-outside: url("/media/team/leni1.png");
		shape-image-threshold: 0.9;
		shape-margin: 2%;
	}
	.photoJasmina {
		float: left;
		shape-outside: url("/media/team/jasmina1.png");
		shape-image-threshold: 0.9;
		max-height: 100%;
		shape-margin: 2%;
	}
	.photoFrida {
		float: left;
		shape-outside: url("/media/team/frida1.png");
		shape-image-threshold: 0.9;
		shape-margin: 2%;
	}

.biog {
	margin-left: 10px!important;
}

@media only screen and (max-width: 600px) {
	.photoAnia, .photoSarah, .photoLeni, .photoJasmina, .photoFrida, .modal-img {
		padding: 0;
		margin: 0;
		max-width: 250px;
	}
	.modal-img {
		padding-bottom: 20px!important;
	}
}

@media only screen and (min-width: 601px) {
	.photoAnia, .photoSarah, .photoLeni, .photoJasmina, .photoFrida, .modal-img {
		padding: 0;
		margin: 0;
		max-width: 400px;
	}
	.modal-img {
		padding-bottom: 20px!important;
	}
}

@media only screen and (min-width: 901px) {
	.photoAnia, .photoSarah, .photoLeni, .photoJasmina, .photoFrida, .modal-img {
		padding: 0;
		margin: 0!important;
		max-width: 500px;
	}
	.modal-img {
		padding-bottom: 20px!important;
	}
}

.modal-content {
	padding-left: 50px!important;
	padding-right: 50px!important;
}

.biog1 {
	font-size: 1.2rem!important;
	font-weight: 700!important;
}

.biog2 {
	font-size: .8rem!important;
	font-weight: 300!important;
}
