@import url("https://fonts.googleapis.com/css2?family=sans:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
	--sans: "Rubik", sans-serif;
	--cubano: "cubano", sans-serif;
	--fraunces: "Space Grotesk", serif;
	--space: "Space Grotesk", serif;
	--dark: #2c3837;
	--baseA0: #2c3837;
	--muted: #b1b1b1;
	--light: #f9fbfa;
	--accent-color: #2c3837;
	--frida: #e86166;
	--frida-light: #fae1e2;
	--turq-dark: #173847;
	--turq-medium: #0b6974;
	--turq-bright: #10d6d6;
	--turq-light: #eafffb;
	--highlight: #c4ff55;
}

/* GENERAL */

html {
	scroll-behavior: smooth !important;
}

.parallax {
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat;
}

.card, .container, .navbar, footer, .btn {
	box-shadow: none;
}

.footerbg {
	width: 100% !important;
}

/* COLOR */

.navbar, footer, .page-footer, .dropdown-menu, main, body {
	background-color: var(--light) !important;
}

.highlight, .bgyellow mark {
	background-color: var(--highlight) !important;
}

main a {
	color: var(--frida) !important;
}

p, .navbar a, .nav-item a, .nav-link a, h1, h2, h3, h4, h5, h6, .sans, p, .small, .card-body, .badge, .card-badge {
	color: var(--baseA0);
}

.navbar a:hover, a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5, a:hover h6 {
	background-color: var(--frida-light) !important;
	color: var(--frida) !important;
}

a, a:hover, .navbar-brand:hover a, .nav-item:hover a>.dropdown, .nav-link:hover a>.dropdown, .dropdown a:hover, .navbar-brand:hover, .freethedata:hover {
	color: var(--frida) !important;
}

/* TYPOGRAPHY */

.footerbg a, .navbar a, .sans, p, span, small, .nav-item, .small, .btn, .btn-small, .grotesk, .basicsans, .dropdown, .dropdown a, .dropdown-item, li, li a, ul, ol, ol p, ul p, li p, ul a, ol a, li a, ul a, .row p, a, section p, section a, section ul, section ol, section li, section .card p, section .card a {
	font-family: var(--sans) !important;
}

input, h1, h2, h3, h4, h5, h6 {
	font-family: var(--space) !important;
}

.navbar-brand, .freethedata {
	font-family: var(--cubano) !important;
}

p, .card-text, .subtitle, .card p, a, .btn a, .btn-sm a, .btn, .btn-sm {
	font-size: 0.98rem !important;
}

.small, small, .btn-sm, .btn-sm a {
	font-size: 0.8rem !important;
}

.navbar a, .nav-item a, .nav-link a, input, a, p, li p, ul p, ol p, .nav-link, .nav-item {
	font-weight: 400 !important;
}

.breadcrumb-item, .breadcrumb-item a, .breadcrumb-uppercase {
	text-transform: uppercase !important;
	font-size: 0.7rem !important;
}

h1, h2, h3 {
	font-weight: 700 !important;
}

h4 {
	font-weight: 500 !important;
}

h6 {
	font-weight: 400 !important;
}

/* POSTS */

article h1 {
	font-size: 3rem !important;
	padding-bottom: 35px !important;
}

/* TRANSITIONS & TRANSFORMATIONS */

.nav-link, .nav-item {
	text-transform: none !important;
}

a {
	transition: 0.1s !important;
}

/* BUTTONS ETC */

.btn-primary, .btn-sm, .btn {
	text-transform: none !important;
	color: var(--baseA0) !important;
	background-color: var(--light) !important;
	border: 1px solid var(--baseA0) !important;
	transition: 0.2s !important;
	box-shadow: none !important;
}

.btn-primary:hover, .btn-sm:hover, .btn:hover {
	background-color: var(--frida-light) !important;
	border: 1px solid var(--frida) !important;
	box-shadow: 2px 2px 2px var(--frida) !important;
}

.btn-primary:focus, .btn-primary:active {
	background-color: var(--light) !important;
	box-shadow: 2px 2px 2px var(--frida) !important;
}

.breadcrumb a {
	font-size: 0.8rem !important;
}

.breadcrumb-item, .breadcrumb-item a, .breadcrumb li, .breadcrumb a {
	color: var(--muted) !important;
	font-weight: 400 !important;
}

.breadcrumb-item:hover, .breadcrumb-item a:hover, .breadcrumb li:hover, .breadcrumb a:hover {
	color: var(--frida) !important;
}