@import url("https://fonts.googleapis.com/css2?family=sans:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
	--offwhite: #fff;
	--frida: #e86166;
	--frida7: #fce6e7;
	--sans: "Rubik", sans-serif;
	--cubano: "cubano", sans-serif;
		--fraunces: "Fraunces", serif;

	--muted: rgb(120, 121, 124);
--baseA0: #3a3a3a;
--baseA3: #eaeaea;
--baseA7: #F2F2F2;

}

/* 

@media (min-width: 800px) {
footer {
  position: absolute!important;
  bottom: 0!important;
  width: 100%!important;
}
}


 */



a {
		color: var(--baseA0) !important;

}
 a:hover,
.navbar-brand:hover a > .dropdown,
.nav-item:hover a > .dropdown,
.nav-link:hover a > .dropdown 
a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5, a:hover h6, a:hover .navbar-brand  


{

	background-color: var(--frida7)!important;
		color: var(--frida) !important;


}

 a:hover,
.navbar-brand:hover a ,
.nav-item:hover a > .dropdown,
.nav-link:hover a > .dropdown, .dropdown a:hover



 {

	color: var(--frida) !important;
		 		 font-weight: 400!important;



}
.dropdown, .dropdown a, .dropdown .nav-item {
	 		 font-weight: 400!important;
		 font-family: var(--sans) !important;



}

 .footerbg {
	 background-color: var(--offwhite)!important;
	 width: 100%!important;
 }

  .footerbg  a {  
	color: var(--baseA0) !important;
	 font-family: var(--sans);
 }

.sans,
p,
span,
small,
.small,
.btn,
.btn-small,
.grotesk,
.basicsans,
li,
li a,
ul,
ul a, .row p,
a, section p, section a, section ul, section ol, section li, section .card p, section .card a {


	
	font-family: var(--sans) !important;
}
a, p, li p, ul p, ol p {
		font-weight: 400;

}

.sans,
p,
.small,
.card-body,
.badge,
.card-badge
{
color: var(--baseA0);
}

h1,
h2,
h3,
h4,
h5,
h6
{
	font-family: var(--fraunces)!important;
color: var(--baseA0);
}


.font-weight-bold {
	font-weight: 500!important;
}
.nav-link, .nav-item {
	text-transform: none!important;
	font-weight: 400!important;
}

#toc, main .container ul{background-color:#fff!important;}

.text-frida {
	color: var(--frida)!important;
	font-family: var(--cubano) !important;
	font-weight: 400 !important;


}

html {
	scroll-behavior: smooth !important;
}

/* small screens */
@media (max-width: 1200px) {
	#toc,
	.float-left {
		display: none !important;
	}
}

@media (min-width: 1201px) {
	.navbody {
		margin-left: 300px !important;
		margin-top: -70px !important;
	}
}


.text-white {
	color: #fff!important;
}

.img-gradient {
	position: relative;
	display: inline-block;
}

#toc a {
	color: var(--baseA0);
	font-weight: 400 !important;
}

/* TYPOGRAPHY */




.cubano {
	font-family: var(--cubano) !important;
	font-weight: 400 !important;
}

p {
	font-size: 1rem !important;
	font-weight: 400;
}

.card-text,
.subtitle,
.card p,
a {
	font-size: 0.9rem;
	font-weight: 400;
}

.btn a,
.btn-sm a,
.btn,
.btn-sm {
	font-size: 1rem !important;
}
.small,
small {
	font-size: 0.87rem !important;
	font-family:var(--sans)!important;
}


.parallax {
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat;
}


.card, .container, .navbar, footer, .btn {
	box-shadow: none;
}


.accentfont {

	font-family: var(--fraunces) !important;
	color: #062e5d!important;
	font-weight: 600!important;
}

.fraunces {
	font-family: var(--fraunces)!important;

}

.accentcolor {
		color: #062e5d!important;
	
}