@import url("https://fonts.googleapis.com/css2?family=sans:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--sans: "Rubik", sans-serif;
	--cubano: "cubano", sans-serif;
	--fraunces: "Fraunces", serif;
	--dark: #31364c;
	--baseA0: #31364c;
	--muted: #9b9eb0;
	--light: #fff;
	--offwhite: #fff;
	--frida: #e86166;
	--green: #034d1e;
	--blue: #096c80;
	--orange: #ff5600;
	--yellow: #f6e049;
	--frida7: #fce6e7;
	--peri: #e3e5f4;

}

.highlight,
.bgyellow mark {
	background-color: var(--yellow) !important;
}
.text-dark,
.cubano {
	color: var(--baseA0) !important;
}

p {
	color: var(--baseA0);
}

.text-muted {
	color: var(--muted) !important;
}

a {
	transition: 0.1s !important;
}

.navbar a,
.nav-item a,
.nav-link a {
	font-weight: 500 !important;
	color: var(--baseA0) !important;
}
.textxl {
	font-size: 2.7rem !important;
}
.navbar a:hover,
a:hover h1,
a:hover h2,
a:hover h3,
a:hover h4,
a:hover h5,
a:hover h6 {
	background-color: var(--frida7) !important;
	color: var(--frida) !important;
}

.navbar-brand,
.freethedata {
	font-family: var(--cubano) !important;
}
a,
a:hover,
.navbar-brand:hover a,
.nav-item:hover a > .dropdown,
.nav-link:hover a > .dropdown,
.dropdown a:hover,
.navbar-brand:hover,
.freethedata:hover {
	color: var(--frida) !important;
}

.navbar,
footer,
.page-footer,
.dropdown-menu {
	background-color: var(--offwhite) !important;
}
.footerbg {
	width: 100% !important;
}

.footerbg a,
.navbar a,
.sans,
p,
span,
small,
.nav-item,
.small,
.btn,
.btn-small,
.grotesk,
.basicsans,
.dropdown,
.dropdown a,
.dropdown-item,
li,
li a,
ul,
ol,
ol p,
ul p,
li p,
ul a,
ol a,
li a,
ul a,
.row p,
a,
section p,
section a,
section ul,
section ol,
section li,
section .card p,
section .card a {
	font-family: var(--sans) !important;
}
a,
p,
li p,
ul p,
ol p {
	font-weight: 400;
}

.sans,
p,
.small,
.card-body,
.badge,
.card-badge {
	color: var(--baseA0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--fraunces) !important;
	color: var(--baseA0);
}

.font-weight-bold {
	font-weight: 500 !important;
}
.nav-link,
.nav-item {
	text-transform: none !important;
	font-weight: 400 !important;
}

#toc,
main {
	background-color: var(--offwhite) ;
}

.text-frida {
	color: var(--frida) !important;
}

html {
	scroll-behavior: smooth !important;
}

/* small screens */
@media (max-width: 1200px) {
	#toc,
	.float-left {
		display: none !important;
	}
}

@media (min-width: 1201px) {
	.navbody {
		margin-left: 150px !important;
		margin-top: -70px !important;
	}
}

.text-white {
	color: var(--offwhite) ;
}

#toc a {
	color: var(--baseA0);
	font-weight: 400 !important;
}

/* TYPOGRAPHY */

.textfrida {
	color: var(--frida) !important;
}

.cubano {
	font-family: var(--cubano) !important;
	font-weight: 400 !important;
}

p {
	font-size: 1.10rem !important;
	font-weight: 400;
}

.card-text,
.subtitle,
.card p,
a {
	font-size: 1.10rem !important;
	font-weight: 400;
}

.btn a,
.btn-sm a,
.btn,
.btn-sm {
	font-size: 1.10rem !important;
}
.small,
small {
	font-size: 1.10rem !important;
	font-family: var(--sans) !important;
}

.parallax {
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat;
}

.card,
.container,
.navbar,
footer,
.btn {
	box-shadow: none;
}

.accentfont {
	font-family: var(--fraunces) !important;
	color: var(--baseA0) !important;
	font-weight: 600 !important;
}

.fraunces {
	font-family: var(--fraunces) !important;
}

.accentcolor {
	color: var(--baseA0) !important;
}
.btn-primary,
.btn-sm,
.btn {
	text-transform: none !important;
	color: var(--baseA0) !important;
	background-color: var(--offwhite) !important;
	border: 1px solid var(--baseA0) !important;
	transition: 0.2s !important;
	box-shadow: none !important;
}
.btn-primary:hover,
.btn-sm:hover,
.btn:hover {
	background-color: var(--frida7) !important;
	border: 1px solid var(--frida) !important;
	box-shadow: 2px 2px 2px var(--frida) !important;
}

.btn-primary:focus,
.btn-primary:active {
	background-color: var(--offwhite) !important;
	box-shadow: 2px 2px 2px var(--frida) !important;
}
.breadcrumb a {
	font-size: 0.8rem !important;
}

main a {
	color: var(--frida) !important;
}

h1,
h2,
h3 {
	font-weight: 700;
}

.font-weight-bolder {
	font-weight: 700 !important;
}

.btn-sm,
.btn-sm a {
	font-size: 0.8rem !important;
}

.btn-sm:focus,
.btn:focus,
.btn-primary:focus,
.btn-primary:active,
.btn-sm:active,
.btn:active {
	background-color: var(--frida7) !important;
}

.border_container .border_hover {
	transition: 0.1s !important;
}

.border_container:hover .border_hover {
	border-top: 3px solid var(--frida) !important;
}

.border_container:hover a,
.border_container:hover h3,
.border_container:hover i {
	color: var(--frida) !important;
}

.breadcrumb-item,
.breadcrumb-item a,
.breadcrumb li,
.breadcrumb a {
	color: var(--muted) !important;
}
.breadcrumb-item:hover,
.breadcrumb-item a:hover,
.breadcrumb li:hover,
.breadcrumb a:hover {
	color: var(--frida) !important;
}
