---
layout: author
permalink: "authors/jasmina/"
---


<div class="container">

  <div class="container row">
    <div class="col-lg-4 col-md-3">
      <img class="img-fluid" src="{{site.baseurl}}/media/team/jasmina.png">
    </div>
    <div class="col">

      <h1 class="cubano ">
        {{site.data.team['jasmina'].full_name}}
      </h1>

      <h2 class="">
        {{site.data.team['jasmina'].role}}
      </h2>

      <h6 class=" ">
        {{site.data.team['jasmina'].focus}}
        <br>

      </h6>


      <div class="biog">
        <p class=" small">
          {{site.data.team['jasmina'].bio}}
        </p>
      </div>

      <div class="d-flex flex-row  ">
        <a class="nav-link" href="{{site.data.team['jasmina'].website}}" target="blank_">
          <i class="fas fa-link"></i>
        </a>

        <a class="nav-link" href="{{site.data.team['jasmina'].email}}" target="blank_">
          <i class="fas fa-envelope"></i>
        </a>

        <a class="nav-link" href="{{site.data.team['jasmina'].twitter}}" target="blank_">
          <i class="fab fa-twitter"></i>
        </a>

        <a class="nav-link" href="{{site.data.team['jasmina'].scholar}}" target="blank_">
          <i class="fas fa-graduation-cap"></i>
        </a>


      </div>
    </div>
  </div>

  <br>



  <div class="container  pt-5 mt-5">
    <h2 class="cubano">Recent posts by jasmina</h2>

    <!-- Small news -->

    <div class="single-news mb-4">
      <!-- Grid row -->

      <div class="row mt-3">
        {% assign posts = site.posts | where:"author","jasmina" %}
        {% for post in posts %}

        <!-- Grid column -->



        {% include cards/card-row-format.html %}
        <!-- Grid column -->
        {% endfor %}
      </div>

      <!-- Grid row -->
    </div>

    <!-- Small news -->
  </div>

</div>
