--- 
layout: default 
title: "About" 
permalink: "about/" 
---

<link rel="stylesheet" href="{{site.baseurl}}/assets/css/teamstyle.css"></link>

        <div class="container shadow-inside-soft   p-5 ">
    <div class="d-flex justify-content-center">
        <p class="hero_div_text d-flex justify-content-center">THE MISSION.</p>
    </div>
</div>

<div class="container resize_container" style="margin-top: 50px; margin-bottom:50px;">
    <p class="">
        Free the Data joins a growing movement that calls on academics, journalists, scientists, and anyone else interested in data justice to challenge what it means to work with data. As students and faculty in a STEM field, we've brushed against the limitations
        of data-driven research and the inequities that are endemic to big tech and academia alike.

        <p class="">
            We created Free the Data to say

            <em>fuck you</em> to these limitations.
        </p>

        <p class="">
            Our goal is not only to name the problems that we encounter at the intersection of data and society, but to explore how we can do our part to address these problems. We invite others to join us, to tell data stories in compelling, interactive, visual
            ways, while also breaking stereotypes about who can do data analysis and what proper research topics look like.
        </p>

        <p class="">
            Across the site you'll find articles and resources that engage with topics such as health and medicine, politics, pop culture, and social justice. Collectively, these projects center our agency as researchers; they reflect the diversity of our interests,
            as well as our shared commitment to driving data in more ethical, engaging, and empowering directions.
        </p>

        <p class="">
            If you're new to data justice, you might start by checking out our

            <a href="#">Data Justice 101 article</a> . This primer covers some of the essential figures and concepts that have helped inspire this project.
        </p>
    </p>
</div>

        <div class="container shadow-inside-soft   p-5 ">
    <div class="d-flex justify-content-center">
        <p class="d-flex justify-content-center">THE TEAM.</p>
    </div>
</div>

<div class="container" style="margin-top: 50px; margin-bottom:50px;">
    <div class="row d-flex justify-content-center">

        <div class="col p-5">
            {% include team-modals/ania-modal.html %}
        </div>

        <div class="col p-5">
            {% include team-modals/sarah-modal.html %}

        </div>

    <div class="row  container">
            <div class="col p-5">
                {% include team-modals/leni-modal.html %}

            </div>
            <div class="col p-5">
                {% include team-modals/jasmina-modal.html %}

            </div>

        </div>


    <div class="row d-flex justify-content-center">
            <div class="col p-5">
                {% include team-modals/frida-modal.html %}

            </div>

            <div class="col p-5">
            </div>
        </div>
        </div>

        <div class="container shadow-inside-soft   p-5 ">
            <div class="d-flex justify-content-center">
                <p class="hero_div_text d-flex justify-content-center">CONTACT.</p>
            </div>
        </div>

        <div class="container resize_container" style="margin-top: 50px; margin-bottom:50px;">
            <p>
                We welcome comments, constructive criticisms, requests for collaboration, invitations to events, or just saying hi! A member of our team will try to respond within 48 hours. Note: If you're contacting Frida, she asks that you please run your message through
                a translator such as

                <a href="https://kittify.herokuapp.com/" target="_blank">this one</a> prior to sending.
            </p>

            <br>
            <br>

            <div class="container">
                <div class="d-flex justify-content-center">
                    <div>
                        <a href="https://twitter.com/freethedata_" target="_blank" title="twitter" class="uk-button uk-button-text">
                            <span uk-icon="twitter"></span>
                        </a>
                    </div>

                    <div>
                        <a href="https://instagram.com/freethedataproject" target="_blank" title="instagram" class="uk-button uk-button-text">
                            <span uk-icon="instagram"></span>
                        </a>
                    </div>

                    <div>
                        <a href="https://github.com/freethedataproject" target="_blank" title="github" class="uk-button uk-button-text">
                            <span uk-icon="github"></span>
                        </a>
                    </div>

                    <div>
                        <a href="mailto:freethedataproject@gmail.com" target="_blank" title="email" class="uk-button uk-button-text">
                            <span uk-icon="mail"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="container accent-2 justify-content-center">
                <div class="container">
                    <div class="container">
                        <form action="https://formspree.io/f/moqppqkn" method="POST">
                            <div class="uk-margin">
                                <label class="uk-form-label" for="name">Name</label>

                                <input type="text" name="name" id="form-s-text" placeholder="Enter your name..." class="uk-input"></input>
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label" for="email">E-Mail</label>

                                <input type="text" name="_replyto" id="form-s-text" placeholder="Enter your E-Mail address..." class="uk-input"></input>
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label" for="subject">Subject</label>

                                <input type="text" name="subject" id="form-s-text" placeholder="Enter your subject..." class="uk-input"></input>
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label" for="message">Message</label>

                                <textarea name="message" id="message" rows="5" placeholder="Enter your message..." class="uk-textarea"></textarea>
                            </div>

                            <button type="submit">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>