---
layout: default
title: "Articles"
permalink: "articles/"
---


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<link type="text/css" href="{{site.baseurl}}/assets/css/homepage.css" rel="stylesheet">
</link>

<!--
		<section class=" mb-0">
			<div class="row flex-center">
				<div class="col-md-4 text-center">
					<div class="wrap  mt-md-5 ml-md-4 ">
						<div class="cube ">
							<div class="front ">front</div>
							<div class="back">back</div>
							<div class="top">top</div>
							<div class="bottom">bottom</div>
							<div class="left">left</div>
							<div class="right">right</div>
							<img class="img-fluid" src="{{site.baseurl}}/media/sitewide/logo.svg" />
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row mb-3">
						<div class="col-10">
							<h5 class="font-weight-bold mb-3">International</h5>
							<p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
								nam, aperiam minima assumenda deleniti hic.</p>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-10">
							<h5 class="font-weight-bold mb-3">Experimental</h5>
							<p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
								nam, aperiam minima assumenda deleniti hic.</p>
						</div>
					</div>
				</div>
			</div>
		</section>

 -->

<div class="container pb-5 mb-5">
	<h2 class="cubano  d-flex">Featured</h2>
	<hr>
	<br>
	<div class="container " style="">
		{% for post in site.tags.featured %}
		{%include cards/featured-card.html%}
		{% endfor %}
	</div>
</div>


<div class="container my-5 py-5">

						<div class="container">
							<h2 class="cubano d-flex">By Topic</h2>
							<hr>
							{%include articles/topic.html%}
						</div>
</div>



						<div class="container py-5 my-5 ">
							<h2 class="cubano d-flex">Data 101</h2>
							<p>Breaking the black box, one post at a time. </p>
							<hr><br>
							<div class=" d-flex flex-wrap ">
										{% for post in site.tags.data101 %}
													<div class="  col-md-6 col-sm-12 col-xs-12 p-3  {{ post.category }}">
														{%include cards/card-small.html%}
													</div>
										{% endfor %}
									</div>
							</div>

							<div class = "pt-5 pb-5"></div>
