<div
	style="position:fixed;top:calc(50% - 250px);right:0;transition:width 300ms ease-out;width:0;"
	data-qa="side_panel"
>
	<a
		class="typeform-share button"
		href="https://form.typeform.com/to/ofc1UhrM?typeform-medium=embed-snippet"
		data-mode="side_panel"
		style="box-sizing:border-box;position:absolute;top:250px;width:300px;height:48px;padding:0 20px;margin:0;cursor:pointer;background:#3A3A3A;border-radius:4px 4px 0px 0px;box-shadow:0px 2px 12px rgba(0, 0, 0, 0.06), 0px 2px 4px rgba(0, 0, 0, 0.08);display:flex;align-items:center;justify-content:flex-start;transform:rotate(-90deg);transform-origin:bottom left;color:white;text-decoration:none;z-index:9999;"
		data-hide-headers="true"
		data-hide-footer="true"
		data-width="320"
		data-height="500"
		target="_blank"
	>
		<span
			class="icon"
			style="width:32px;position:relative;text-align:center;transform:rotate(90deg) scale(0.85);left:-8px;"
		>
			<img
				alt=""
				src="https://images.typeform.com/images/hgbXmtirf9s7"
				style="max-width:24px;max-height:24px;margin-top:10px;"
			/>
		</span>
		<span
			style="text-decoration:none; font-family: var(--sans)!important; color:#fff!important;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:100%;text-align:center;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;"
		>
			Submit a resource
		</span>
	</a>
</div>
<script>
	(function() {
		var qs,
			js,
			q,
			s,
			d = document,
			gi = d.getElementById,
			ce = d.createElement,
			gt = d.getElementsByTagName,
			id = "typef_orm_share",
			b = "https://embed.typeform.com/";
		if (!gi.call(d, id)) {
			js = ce.call(d, "script");
			js.id = id;
			js.src = b + "embed.js";
			q = gt.call(d, "script")[0];
			q.parentNode.insertBefore(js, q);
		}
	})();
</script>
