<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="{{site.baseurl}}/assets/mdb/js/popper.min.js"></script>
<script src="{{site.baseurl}}/assets/mdb/js/bootstrap.min.js"></script>
<script src="{{site.baseurl}}/assets/mdb/js/mdb.min.js"></script>
<script src=" {{ site.baseurl }}/assets/js/confetti/confetti.min.js"></script>
<script src=" {{ site.baseurl }}/assets/js/sitewide/frida.js"></script>
<script src=" {{ site.baseurl }}/assets/js/sitewide/tooltip.js"></script>
<script src=" {{ site.baseurl }}/assets/js/sitewide/typeform.js"></script>
<script src=" {{ site.baseurl }}/assets/js/chartjs/chart.min.js"></script>
<script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>
<script src="https://unpkg.com/roughjs@latest/bundled/rough.js"></script>