<script src="https://unpkg.com/roughjs@latest/bundled/rough.js"></script>
{% assign dir = "/assets/icons/" %}
<div class="row">
	<div class="col-sm">
		<a href="">
			<div class="card">
				<div class=" view">
					<canvas id="roughjs1"></canvas>

					<div class="mask flex-center pb-5">
						<img
							type="button"
							class=" card-img-top p-3"
							data-toggle="tooltip"
							data-placement="top"
							title="Name of the org will go here. The buttons will be clickable."
							src="{{dir}}sun.svg"
							style="object-fit:contain!important;"
						/>
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="col-sm">
		<a href="">
			<div class="card">
				<div class=" view">
					<canvas id="roughjs2"></canvas>

					<div class="mask flex-center pb-5">
						<img
							type="button"
							class=" card-img-top p-3"
							data-toggle="tooltip"
							data-placement="top"
							title="Name of the org will go here. The buttons will be clickable."
							src="{{dir}}classroom.svg"
							style="object-fit:contain!important;"
						/>
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="col-sm">
		<a href="">
			<div class="card">
				<div class=" view">
					<canvas id="roughjs3"></canvas>

					<div class="mask flex-center pb-5">
						<img
							type="button"
							class=" card-img-top p-3"
							data-toggle="tooltip"
							data-placement="top"
							title="Name of the org will go here. The buttons will be clickable."
							src="{{dir}}mind-map.svg"
							style="object-fit:contain!important;"
						/>
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="col-sm">
		<a href="">
			<div class="card">
				<div class=" view">
					<canvas id="roughjs4"></canvas>

					<div class="mask flex-center pb-5">
						<img
							type="button"
							class=" card-img-top p-3"
							data-toggle="tooltip"
							data-placement="top"
							title="Name of the org will go here. The buttons will be clickable."
							src="{{dir}}surveillance.svg"
							style="object-fit:contain!important;"
						/>
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="col-sm">
		<a href="">
			<div class="card">
				<div class=" view">
					<canvas id="roughjs5"></canvas>

					<div class="mask flex-center pb-5">
						<img
							type="button"
							class=" card-img-top p-3"
							data-toggle="tooltip"
							data-placement="top"
							title="Name of the org will go here. The buttons will be clickable."
							src="{{dir}}scales.svg"
							style="object-fit:contain!important;"
						/>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>

<script>
	const rc1 = rough.canvas(document.getElementById("roughjs1"));
	const rc2 = rough.canvas(document.getElementById("roughjs2"));
	const rc3 = rough.canvas(document.getElementById("roughjs3"));
	const rc4 = rough.canvas(document.getElementById("roughjs4"));
	const rc5 = rough.canvas(document.getElementById("roughjs5"));
	rc1.circle(50, 50, 80, {
		fillStyle: "solid",
		roughness: 2,
		fill: "rgba(34, 242, 221, .6)",
	});
	rc2.circle(50, 50, 80, {
		fillStyle: "solid",
		roughness: 2,
		fill: "rgba(104, 235, 239, .8)",
	});
	rc3.circle(50, 50, 80, {
		fillStyle: "solid",
		roughness: 2,
		fill: "rgba(155, 249, 239, .8)",
	});
	rc4.circle(50, 50, 80, {
		fillStyle: "solid",
		roughness: 2,
		fill: "rgba(101, 227, 221, .4)",
	});
	rc5.circle(50, 50, 80, {
		fillStyle: "solid",
		roughness: 2,
		fill: "rgba(15, 191, 191, .5)",
	});
</script>
