<section class="container">
			<h3 class="cubano">Support the cause</h3>
			<hr />
			<script src="https://unpkg.com/roughjs@latest/bundled/rough.js"></script>

			<p class="mt-4">
				Free the Data is, y'know, free. This means that we'll never place our
				content behind a paywall, we won't collect or sell your data, and we'll
				always make available any of our datsets that we're legally allowed to
				share. If you're interested in financially supporting the kind of work
				that we do here, we encourage you to consider donating to any of the
				following causes (or another data justice-related cause of your
				choosing!):
			</p>

			<div class = "col-md-8 mx-auto">

			{% include assorted/support.html %}
		</div>
</section>
