<img class="photoania" src="{{site.data.team['ania'].image_path}}" />

<div class="biog">
    <h1 class="cubano">
        {{site.data.team['ania'].first_name}}
    </h1>

    <h6 class="biogtext biog1">
        {{site.data.team['ania'].role}}
    </h6>

    <h6 class="biogtext biog2">
        {{site.data.team['ania'].focus}}
    </h6>

    <!-- Button trigger modal -->

    <button type="button" class="btn btn-sm btn-team" data-toggle="modal" data-target="#modal-target-ania">
		Biography
	</button>

    <!-- Modal -->

    <div class="modal fade" id="modal-target-ania" tabindex="-1" role="dialog" aria-labelledby="modal-target-aniaTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="cubano modal-title" id="exampleModalLongTitle">
                        {{site.data.team['ania'].full_name}}
                    </h1>
<br>
                </div>

                <div class="modal-body">
                    <h6 class="biogtext biog1 " id="exampleModalLongTitle">
                        {{site.data.team['ania'].role}}
                    </h6>
                    <h6 class="biogtext biog2 " id="exampleModalLongTitle">
                        {{site.data.team['ania'].focus}}
                    </h6>
<br>

                    <img class="photoania modal-img" src="{{site.data.team['ania'].image_path}}" />

                    <div class="biog">
                        <p class="modal-biog ">
                            {{site.data.team['ania'].bio}}
                        </p>
                    </div>

                    <div class="modal-footer">
                        <a class="nav-link" href="{{site.data.team['ania'].website}}" target="blank_">
                            <i class="fas fa-link"></i>
                        </a>

			<a class="nav-link" href="{{site.data.team['ania'].email}}" target="blank_">
                            <i class="fas fa-envelope"></i>
                        </a>

			<a class="nav-link" href="{{site.data.team['ania'].twitter}}" target="blank_">
                            <i class="fab fa-twitter "></i>
                        </a>

			<a class="nav-link" href="{{site.data.team['ania'].scholar}}" target="blank_">
                            <i class="fas fa-graduation-cap"></i>
                        </a>


                        <button type="button" class="close btn btn-sm btn-modal" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">Close</span>
						</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>