<!DOCTYPE html>
<html>

<head>
	<!-- IDK WHAT ALL THIS META STUFF DOES BUT IM SCARED TO REMOVE IT -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- THIS IS WHAT SHOWS UP ON THE BROWSER TAB -->
	<title>{{ page.title }} | {{ site.name }}</title>
	<!-- FAVICON -->
	<link href="{{site.baseurl}}/media/sitewide/logo.svg" rel="shortcut icon" type="image/svg+xml">
	<link rel="stylesheet" href=" {{ site.baseurl }}/assets/js/chartjs/chart.min.css">
	<link rel="stylesheet" href=" {{ site.baseurl }}/assets/mdb/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/mdb/css/mdb.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ftd_theme.css">
	<link type="text/css" href="{{site.baseurl}}/assets/css/homepage.css" rel="stylesheet" />
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/teamstyle.css"></link>
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/textures.css"></link>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://use.typekit.net/xrn3fzv.css">
</head>

<body>
	
	{% include nav.html %}

	<main>
		<div class="maincontent" style="margin-bottom:210px!important; margin-top:100px!important;">
			<!-- THIS IS WHERE SITE CONTENT WILL GO -->
			{{content}}
		</div>
	</main>

	<!-- IMPORT SITEWIDE SCRIPTS -->
	
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/assets/mdb/js/mdb.min.js"></script>
	<script src=" {{ site.baseurl }}/assets/js/other/sticky.js"></script>
	<script src=" {{ site.baseurl }}/assets/js/confetti/confetti.min.js"></script>
	<script src=" {{ site.baseurl }}/assets/js/chartjs/chart.min.js"></script>

	<!-- CONFETTI BUTTON JS -- NAVBAR -->
	<script>
		function myFunction() {
			document.getElementById("demo")
			confetti.speed = 0;
			confetti.start(400, 30, 50);
		}
	</script>

	<!-- CONFETTI BUTTON JS -- FOOTER -->
	<script>
		function myFunction1() {
			document.getElementById("demo1")
			confetti.speed = 0;
			confetti.start(400, 30, 50);
		}
	</script>

	<script>
		$(function () {
$('[data-toggle="tooltip"]').tooltip()
})

	</script>

</body>

{% include footer.html %}



</html>