<!DOCTYPE html>
<html>
<head>
	<!-- IDK WHAT ALL THIS META STUFF DOES BUT IM SCARED TO REMOVE IT -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- THIS IS WHAT SHOWS UP ON THE BROWSER TAB -->
	<title>{{ page.title }} | {{ site.name }}</title>

	<!-- FAVICON -->
	<link href="{{site.baseurl}}/media/sitewide/logo.svg" rel="shortcut icon" type="image/svg+xml">

	<!-- FONT-AWESOME (ICONS) CDN -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

	<!-- neumorphism rules (CSS framework) & bootstrap customization  -->
	<link type="text/css" href="{{site.baseurl}}/assets/css/neumorphism_mini.css" rel="stylesheet">


	<!-- BOOTSTRAP (BASE CSS FRAMEWORK) CDN -->	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	<!-- ADOBE FONT IMPORT -->
	<link rel="stylesheet" href="https://use.typekit.net/xrn3fzv.css">

</head>


	<body>
			<!-- NAVBAR -->
			{% include nav.html %}

			<main>
				<div class = "maincontent" style = "margin-bottom:100px!important;">
					<!-- THIS IS WHERE SITE CONTENT WILL GO -->			
					{{content}}
				</div>
			</main>

			<!-- IMPORT SITEWIDE SCRIPTS -->
			{% include scripts.html %}

			<!-- CONFETTI BUTTON JS -- NAVBAR -->
			<script>
				function myFunction() {
					document.getElementById("demo")
					confetti.speed = 0;
					confetti.start(400, 30, 50);
				}
			</script>

			<!-- CONFETTI BUTTON JS -- FOOTER -->
			<script>
				function myFunction1() {
					document.getElementById("demo1")
					confetti.speed = 0;
					confetti.start(400, 30, 50);
				}
			</script>
	</body>

	{% include footer.html %}

</html>