---
layout: default
---
	<script src=" {{ site.baseurl }}/assets/js/chartjs/chart.min.js"></script>

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ftd_theme/posts.css">
<!-- 

	
<nav class="  py-2 navbar-expand-sm  p-0 pb-0 mb-0 d-block z-depth-0 "  aria-label="breadcrumb" >
  <div class="container pb-0 mb-0" style = "">
      <ol class="navbar-nav  breadcrumb mr-auto py-1 my-1  font-weight-normal   ">
    <li class="breadcrumb-item text-muted"><a href="https://freethedataproject.com/" class = ' text-grey small'>home</a></li>

    <li class="breadcrumb-item text-muted"><a href="{{previous}}" class = ' text-grey small'>{{ first_word }}</a> </li>



    <li class="breadcrumb-item text-muted text-grey small" style = "font-style:italic!important;">{{page.title}}</li>
  </ol>
 </div>
</nav>


 -->
<div class="container mb-5 mt-5">

	<div class="row p-0  flex-center mb-5">
		<div class="row z-depth-2" style="width:100%!important;">
			<div class="view card z-depth-2 ml-0 pl-0">
				<img class="img-fluid  " src="{{page.image_path}}" alt="{{page.image_alt}}"
					style="height: 300px !important;object-fit: cover!important;width:100%!important;">
				<div class="mask rgba-indigo-slight flex-center z-depth-2">
					<p class="cubano text-white p-3 text-center " style="font-size: 3.5rem!important;">{{page.title}}
					</p>
				</div>
			</div>
		</div>
		<div class="mt-3 row ">
			<div class="card rounded-0   p-5  flex-center m-0">
				<p class="">{{page.subtitle}}</p>
				<p class=" small mt-2">
					<a href="{{site.baseurl}}{{page.permalink}}" class=""><a
							href="{{site.baseurl}}/authors/{{page.author}}">{{page.author}}</a></a> &nbsp; |&nbsp;
					<a class="" href="{{site.baseurl}}/explore/#{{page.category}}">{{page.category}}</a> &nbsp; |&nbsp;
					<i class="fas fa-tag text-dark ml-1"></i>&nbsp;&nbsp; <span>{% for tag in page.tags %} <a
							href="{{site.baseurl}}/explore/#tags">{{tag}} &nbsp;&nbsp;</a> {% endfor %} </span>
				</p>
			</div>
		</div>
	</div>

	<hr>

	<div class="container contentcontainer" style="padding-top: 55px!important;" data-spy="scroll" data-target="#toc">
		<div class="row ">
			<div class="float-left bgwhite, bg-white sticky-top " style = "background-color: #fff!important;">
				<p class="cubano">Navigation:</p>
				<nav id="toc" data-toggle="toc"  style = "background-color: #fff!important;"></nav>
			</div>
			<div class="container mt-0 pt-0 navbody">
				{{content}}
			</div>
		</div>
	</div>
</div>