---
layout: default
---

{% capture url_parts %} {{ page.url | remove: "/index.html" | replace:'/'," " }}{% endcapture %}
{% capture num_parts %}{{ url_parts | number_of_words | minus: 1 }}{% endcapture %}
{% assign previous="" %}

<nav class="py-2 navbar-expand-sm p-0 pb-0 mb-0 d-block z-depth-0" aria-label="breadcrumb">
  <div class="container pb-0 mb-0">
    <ol class="navbar-nav breadcrumb mr-auto py-1 my-1 font-weight-normal">
      {% if num_parts == "0" or num_parts == "-1" %}
      <li class="breadcrumb-item text-muted"><a href="https://freethedataproject.com/" class=' text-grey small'>home</a>
      </li>
      {% else %}
      <li class="breadcrumb-item text-muted"><a href="https://freethedataproject.com/" class=' text-grey small'>home</a>
      </li>

      {% for unused in page.content limit:num_parts %}
      {% capture first_word %}{{ url_parts | truncatewords:1 | remove:"..."}}{% endcapture %}
      {% capture previous %}{{ previous }}/{{ first_word }}{% endcapture %}
      <li class="breadcrumb-item text-muted"><a href="{{previous}}" class=' text-grey small'>{{ first_word }}</a> </li>

      {% capture url_parts %}{{ url_parts | remove_first:first_word }}{% endcapture %}
      {% endfor %}
      {% endif %}

      <li class="breadcrumb-item text-muted text-grey small" style="font-style:italic!important;">{{ page.title }}</li>
    </ol>
  </div>
</nav>



<div class="container mt-5 ">
  <h1 class="cubano mb-3 text-center" style="font-size: 5rem!important;">{{ page.title }}</h1>
<p class = "text-center"> {{ page.subtitle }} </p>

  {{content}}
</div>