---
layout: default
---

{% include js/charts.html %}

<nav class=" texturebg inset-lg py-2 navbar-expand-sm  p-0 pb-0 mb-0 d-block z-depth-0 "  aria-label="breadcrumb"  style = "background-color:#edf2f4!important; margin-left: -30px!important;">
  <div class="container pb-0 mb-0" style = "">
      <ol class="navbar-nav  breadcrumb mr-auto py-1 my-1  font-weight-normal   ">
    <li class="breadcrumb-item text-muted"><a href="https://freethedataproject.com/" class = ' text-grey small'>Home</a></li>
    <li class="breadcrumb-item text-muted"><a href="{{site.baseurl}}/projects" class = ' text-grey small'>Projects</a></li>
        <li class="breadcrumb-item text-muted"><a href="{{site.baseurl}}/projects/#collections" class = ' text-grey small'>Collections</a></li>
    <li class="breadcrumb-item text-muted text-grey small" style = "font-style:italic!important;">{{page.title}}</li>
  </ol>
 </div>
</nav>

<div class = "container mt-5 ">
    {{content}}
</div>