:root {
	--offwhite: #f8f9fb;
		--grayish: #bccada;
	--tq-extra-light: #ccf0f1;
	--tq-light: #00b9bc;
	--tq-medium: #006465;
	--tq-dark: #2b3f44;
	--frida: #e86166;
}
/* BACKGROUND & FILL COLORS */
.fill-frida {
	background-color: var(--frida) !important;
}

.fill-teal-l {
	background-color: var(--tq-light) !important;
}

.fill-teal-m {
	background-color: var(--tq-medium) !important;
}

.fill-teal-d, .fill-dark, .bgdark {
	background-color: var(--tq-dark) !important;
}

.fill-white,
.fill-light {
	background: var(--offwhite) !important;
}

/* FONT & TEXT COLORS */
.text-frida {
	color: var(--frida) !important;
}

.text-teal-l {
	color: var(--tq-light) !important;
}

.text-teal-m {
	color: var(--tq-medium) !important;
}

.text-teal-d,
.text-dark,  .text-gray, .text-grey, .text-muted {
	color: var(--tq-dark) !important;
}

.text-white,
.text-light {
	color: var(--offwhite) !important;
}

/* HEADINGS & PARAGRAPHS */

h1,
h2,
h3,
h4,
h5,
h6,
p,
.btn a, .btn-sm a, .btn, .btn-sm  {
	color: var(--tq-dark) !important;
}

/* LINKS & NAVS */

a {
	color: var(--tq-light) !important;
}
a:hover,
.navbar-brand:hover a,
.nav-item:hover a,
.nav-link:hover a {
	color: var(--frida) !important;
}

.nav-item,
.nav-link,
.posticon,
.navbar-brand {
	color: var(--tq-dark) !important;
}

/* CARDS & BADGES */

.card,
.ftd-card,
.card-featured {
	border: none !important;
	background: none;
}

.card-featured {
	padding: 60px !important;
}

  .img-gradient{
  position:relative;
  display:inline-block;
}
.img-gradient:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: -moz-linear-gradient(top, rgba(239, 241, 241,0.3) 0%, rgba(203, 214, 226, 0.3) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(203, 214, 226, 0.3)), color-stop(100%,rgba(239, 241, 241,0.3))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(239, 241, 241,0.3) 0%,rgba(203, 214, 226, 0.3) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(239, 241, 241,0.3) 0%,rgba(203, 214, 226, 0.3) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(239, 241, 241,0.3) 0%,rgba(203, 214, 226, 0.3) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(239, 241, 241,0.3) 0%,rgba(203, 214, 226, 0.3) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.img-gradient img{
  display:block;
}

.hoverfrida {

	font-weight: 700!important;
}

.hoverfrida:hover, .hoverfrida:hover .arrow {
	color: var(--frida)!important;
}

#toc a {

	color: var(--tq-dark) ;
	font-weight: 400 !important;
}

#toc a:hover {

	color: var(--frida) !important;
	font-weight: 600 !important;
}

