.drop-sm, .drop-md, .drop-lg, .inset-sm, .inset-md, .inset-lg {
	border: none !important;
}

.btn, .btn-sm, .drop-sm, .btn-drop {
box-shadow:  3px 3px 3px rgba(210, 219, 230, .6),
             -3px -3px 3px #fafafb !important;
}

.btn, .btn-drop {

    transition: .3s!important;

}

.btn:hover, .btn-drop:hover, .btn-sm:hover {
    color: var(--offwhite)!important;
    font-weight: 600!important;
    background-color: var(--frida)!important;
}

 .btn-drop {
box-shadow:   3px 3px 3px rgba(210, 219, 230, .6),
              -3px -3px 3px #fafafb !important;

    background-color: var(--offwhite)!important;
}

   .categorya-button:focus {
box-shadow:  inset 3px 3px 3px rgba(210, 219, 230, .6),
             inset -3px -3px 3px #fafafb !important;

    }


.drop-md {
box-shadow:  4px 4px 4px rgba(210, 219, 230, .6),
             -4px -4px 4px #fafafb !important;
}

.drop-lg {
box-shadow:  5px 5px 5px rgba(210, 219, 230, .6),
             -5px -5px 5px #fafafb !important;
}


.inset-sm {
box-shadow: inset 3px 3px 3px rgba(210, 219, 230, .6),
            inset -3px -3px 3px #fafafb !important;
}

.inset-md {
box-shadow:  inset 4px 4px 4px rgba(210, 219, 230, .6),
             inset -4px -4px 4px #fafafb !important;
}

.inset-lg {
box-shadow:  inset 5px 5px 5px rgba(210, 219, 230, .6),
             inset -5px -5px 5px #fafafb !important;
}