:root {
	--brokennoise: url("https://www.transparenttextures.com/patterns/broken-noise.png");
	--asfalt: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
	--asfalt-light: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
	--constructionpaper: url("https://www.transparenttextures.com/patterns/black-paper.png");
	--cardboard: url("https://www.transparenttextures.com/patterns/cardboard.png");
    --otis-redding: url("https://www.transparenttextures.com/patterns/otis-redding.png");
}

.asfalt {
	background-image: var(--asfalt) !important;
}

.asfalt-light {
	background-image: var(--asfalt-light) !important;
}
.brokennoise {
	background-color: var(--tq-medium) !important;
	background-image: var(--brokennoise) !important;
}

.constructionpaper {
	background-image: var(--constructionpaper) !important;
}

.cardboard {
	background-image: var(--cardboard) !important;
}

body,
.texturebg {
	background-color: var(--offwhite) !important;
	background-image: var(--otis-redding) !important;
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat;
}

  .hero {

    background-color: #f8f9fb!important;
  }

