@import url("https://fonts.googleapis.com/css2?family=space:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

:root {
	--space: "Space Grotesk", sans-serif;
	--inter: "Inter", sans-serif;
	--cubano: "cubano", sans-serif;

}

.nav-item a {
	font-weight: 400 !important;
}

/* FONT FAMILIES */

h1 { font-size: 2rem !important; font-weight: 600;}
h2 { font-size: 1.8rem !important;  font-weight: 500;}
h3 { font-size: 1.5rem !important;  font-weight: 500;}
h4 { font-size: 1.2rem !important;  font-weight: 400; }
h5 { font-size: 1rem !important;  font-weight: 400;}


.space,
p,
span,
small,
.small,
.card-body,
.badge,
.card-badge,
.btn,
.btn-small, 
.grotesk,
.basicsans,
h1,
h2,
h3,
h4,
h5,
h6,
li, li a
, ul, ul a {
	font-family: var(--space) !important;
}

.cubano {
	font-family: var(--cubano) !important;
	font-weight: 400 !important;
	letter-spacing: 0.5px !important;
}

p {
	font-size: 1rem !important;
	font-weight: 400;
}


.card-text, .subtitle, .card p, a, .btn a, .btn-sm a {
	font-size: .9rem !important;
	font-weight: 400;
}

.btn, .btn-sm, .btn a, .btn-sm a, .small, .text-muted, small{
	font-size: .8rem !important;
}

.nav-item,
.nav-link {
	font-size: .97rem !important;
	font-family: var(--space) !important;
	color: var(--offwhite) !important;
}


.posticon {
	font-size: 20px !important;
}
