---
layout: default
title: "mission"
permalink: "mission/"
---

{% include assorted/breadcrumbs.html %}

<style>
	.sectionbg {
		background-color: #fff !important;
	}
</style>



<section class="sectionbg p-5 ">
	<div class="container">
		<div class="row">
			<div class="col-md-6   align-self-center ">
				<img src="{{site.baseurl}}/assets/brand/hero.svg" class="img-fluid " />
			</div>

			<div class="col-md-6 pt-md-2  pb-5 align-self-center">
				<h1 class="cubano ">
					Who we are
				</h1>

				<p>
					As students and faculty in a STEM field, we're unfortunately
					well-acquainted with the
					<a href="https://freethedataproject.com/projects/data101/data-justice-101">
						limitations of data-driven research,
					</a> including the inequities that are endemic to it. Free the Data says
					<i>fuck you</i>
					to these limitations and demands research that drives data in more
					ethical, engaging, and empowering directions.
				</p>

				<p>
					Across the site, you'll find essays and visual projects that use data
					in compelling and interactive ways, while breaking stereotypes about
					who can do data analysis and what proper research topics look like.
					Our projects engage fields such as information science, critical data
					studies, science of science, feminism, and communication. We hope
					you'll stick around and join us in saying
					<a href="#enough">
						ENOUGH WITH BIG TECH.
						<i class="las la-fist-raised"></i>
					</a>
				</p>

				<p>
					— the Free the Data
					<a href="{{site.baseurl}}/team">team</a>
				</p>

				<p></p>
			</div>
		</div>
	</div>
</section>


<section class="container">
 {% include_relative /manifesto.html %}

</section>
